//
// Base -> Buttons
// --------------------------------------------------

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: $btn-font-weight;
  touch-action: manipulation;
  cursor: pointer;
  text-decoration: none;
  border: none;
  text-align: center;
  box-shadow: 0px 0px 0px 2px transparent;
  font-family: 'Museo Sans Cyrl 500';
  height: 50px;
  min-width: 160px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  transition: all .5s;
  @include button-size(
      $padding-base-vertical,
      $padding-base-horizontal,
      $font-size-tiny,
      1.17,
      $btn-border-radius-base
  );

  @media screen and (min-width: $screen-md-min) {
    height: 70px;
  }

  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &--full {
    width: 100%;
  }

  span {
    position: relative;
    z-index: 2;
  }

  // Color buttons
  @if $use-btn-color == true {
    &--primary {
      overflow: hidden;
      border: none;
      @include button-variant(
        $btn-primary-color,
        $btn-primary-bg,
        $btn-primary-border
      );
      &:after {
        content: '';
        position: absolute;
        left: -2px;
        right: -2px;
        bottom: 0;
        height: 0;
        transition: height .5s;
        background-color: $base-color-dark;
      }
      &:hover {
        &:after {
          height: 100%;
        }
      }
    }

    &--outlined {
      overflow: hidden;
      @include button-variant-tr(
        $btn-outlined-color,
        $btn-outlined-bg,
        $btn-outlined-border
      );
      &:after {
        content: '';
        position: absolute;
        left: -5px;
        right: -5px;
        bottom: 0;
        height: 0;
        transition: height .5s;
        background-color: $base-color-main;
      }
      &:hover {
        &:after {
          height: 100%;
        }
      }
    }
  }
  // Button Sizes
  @if $use-btn-size == true {
    &__lg {
      @include button-size(
          $padding-large-vertical,
          $padding-large-horizontal,
          $font-size-large,
          $line-height-btn,
          $btn-border-radius-large
      );
      min-height: 55px;
    }
    &__sm {
      @include button-size(
          $padding-small-vertical,
          $padding-small-horizontal,
          16px,
          1.1875,
          $btn-border-radius-small
      );
      font-family: 'Museo Sans Cyrl 300';
      font-weight: 300;
      border-width: 1px;
      letter-spacing: 0;
      text-transform: none;
      height: 50px;
    }
    &__xs {
      @include button-size(
          $padding-tiny-vertical,
          $padding-tiny-horizontal,
          $base-font-size,
          $line-height-btn,
          $btn-border-radius-small
      );
      min-height: 35px;
    }
  }
}
