//
// Modules -> Forms
// --------------------------------------------------

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: $line-height-computed;
  font-size: ($base-font-size * 1.5);
  line-height: inherit;
  color: $legend-color;
  border: 0;
}

label {
  display: block;

  a {
    color: $black;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

input[type="search"] {
  @include box-sizing(border-box);
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}

input[type="file"] {
  display: block;
}

input[type="range"] {
  display: block;
  width: 100%;
}

select[multiple],
select[size] {
  height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  @include tab-focus;
}

// Common form controls
.control {
  display: block;
  width: 100%;
  height: 50px;
  padding: $padding-base-vertical 0;
  font-size: $font-size-large;
  line-height: $base-line-height;
  color: $input-color;
  background-color: $input-bg;
  background-image: none;
  border: none;
  border-bottom: 1px solid #D0D0D0;
  border-radius: 0;
  outline: none;

  @include transition(
    border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s
  );

  &:hover {
    border-color: $base-color-main;
  }

  @include form-control-focus($base-color-main);

  @include placeholder;

  &--border {
    border: 1px solid $gray;
  }

  &-body {
    position: relative;
    //&:after {
    //  content: '';
    //  left: 0;
    //  right: -1px;
    //  bottom: 0;
    //  top: -1px;
    //  position: absolute;
    //  transition: box-shadow .5s;
    //  z-index: 9;
    //}
    &.success {
      input {
        //background-image: url(../images/check.svg);
        background-position: center right 20px;
        background-repeat: no-repeat;
        @media screen and (min-width: $screen-xmd-min) {
          background-position: center right 40px;
        }
      }
    }

    &.error {
      &:after {
        box-shadow: inset 0px 0px 0px 1px $color-type-2a;
      }
      input {
        //background-image: url(../images/close.svg);
        background-position: center right 20px;
        background-repeat: no-repeat;
        @media screen and (min-width: $screen-xmd-min) {
          background-position: center right 40px;
        }
      }
    }

    &:hover {
      &:after {
        //z-index: 19;
        //box-shadow: inset 0px 0px 0px 1px $base-color-main;
      }
    }
  }
}
.float-container {
  position: relative;
  label {
    font-size: 16px;
    line-height: 1.2;
    color: $black;
    position: absolute;
    top: 0;
    transform-origin: top left;
    transform: translate(0, 8px) scale(1);
    transition: transform .5s;
    @media screen and (min-width: $screen-md-min) {
      font-size: 20px;
    }
  }
  span {
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 13px;
    color: #C4C4C4;
    transition: opacity .5s;
  }

  .control:focus + label,
  .control:not(:placeholder-shown) + label {
    color: $gray-darken-1;
    transform: translate(0, -10px) scale(.75);
  }

  .control:focus + label + span,
  .controlv:not(:placeholder-shown) + label + span {
    opacity: 0;
  }
}

.float-container .control:focus {
  border-color: $base-color-main;
}
.float-container .control:valid:not(:placeholder-shown)
{
  border-color: $base-color-main;
}
//.float-container .control:invalid
//{
//  border-color: rgba(255, 71, 87, .3);
//}



.basicControl {
  .control {
    border: 1px solid $gray;
  }
}

// Reset height for `textarea`s
textarea.control {
  height: auto;
  resize: none;
  overflow: auto;
  &::placeholder {
    font-family: 'Museo Sans Cyrl 300';
  }
}

select.control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

// Search inputs in iOS
input[type="search"] {
  -webkit-appearance: none;
}

.form__group {
  margin-bottom: $form-group-margin-bottom / 2;
  @media screen and (min-width: $screen-md-min) {
    margin-bottom: $form-group-margin-bottom;
  }
  &--sm {
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 26px;
    }
  }
}

// Checkboxes and radios
.radio,
.checkbox {
  cursor: pointer;
  @media screen and (min-width: $screen-md-min) {
    margin-right: 10px;
  }
  @media screen and (min-width: $screen-lg-min) {
    margin-right: 0;
  }
  input {
    display: none;
    &:hover + .label:before {
      border: 2px solid $base-color-main;
    }
    &:checked {
      & + .label {
        &:after {
          opacity: 1;
        }
        &:before {
          background-color: $base-color-main;
          border-color: $base-color-main;
          box-shadow: 0px 6px 14px rgba(212, 175, 129, 0.45);
        }
      }
    }
    &:hover:before {
      border: 2px solid $base-color-main;
    }
  }
  .label {
    font-size: 11px;
    line-height: 140%;
    color: $gray-darken-2;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    @media screen and (min-width: $screen-md-min) {
      font-size: 14px;
    }
    &:before {
      content: "";
      border: 1px solid $gray;
      box-sizing: border-box;
      display: block;
      width: 38px;
      height: 38px;
      min-width: 38px;
      transition: all 0.3s;
      margin-right: 15px;
      @media screen and (min-width: $screen-lg-min) {
        margin-right: 30px;
      }
    }
    &:after {
      width: 18px;
      height: 13px;
      content: "";
      display: block;
      position: absolute;
      opacity: 0;
      left: 11px;
      transition: all 0.3s;
      top: 0;
      bottom: 0;
      margin: auto;
      background-image: url(../images/icons/radio.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  + .radio,
  + .checkbox {
    @media screen and (min-width: $screen-lg-min) {
      margin-left: 30px;
    }
  }
}

.checkbox {
  input[type="checkbox"] {
    display: none;
  }
}
.radio {
  input[type="radio"] {
    display: none;
  }
  &-inner {
    margin-left: 60px;
    @media screen and (min-width: $screen-lg-min) {
      margin-left: 75px;
    }
  }

  &--custom {
    display: flex;
    height: 50px;
    border: 1px solid $white-darken;
    border-radius: 25px;
    padding: 5px;
    &-el {
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      width: 50%;
      @media screen and (min-width: $screen-md-min) {
        letter-spacing: 0.2em;
      }
      label {
        cursor: pointer;
        width: 100%;
        height: 100%;
        color: $black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        border: 2px solid transparent;
        transition: all .5s;
      }
      label:hover {
        color: $base-color-main;
      }
      input:checked + label {
        color: $base-color-main;
        border-color: $base-color-main;
      }
    }
  }
}
.checkbox label {
  &:before {
    @include border-radius(50%);
  }
}

.radio--inline,
.checkbox--inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio--inline + .radio--inline,
.checkbox--inline + .checkbox--inline {
  margin-top: 0;
  margin-left: 10px;
}

.input-group {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    margin: 0 10px;
    text-align: center;
    display: block;
  }
}


.input__quantity {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #D0D0D0;
  border-radius: 50px;
  height: 50px;
  padding: 0 30px;
  @media screen and (min-width: $screen-md-min) {
    height: 70px;
  }
  input {
    border: none;
    background: transparent;
    font-size: 20px;
    text-align: center;
    width: calc(100% - 80px);
  }
  .inc,
  .dec {
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 15px;
  }
}
