//
// Base -> Typography
// --------------------------------------------------

// Headings
h1,
h2,
h3,
h4,
h5,
h6,
.alpha,
.beta,
.gamma,
.delta,
.epsilon,
.zeta {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;

  small {
    font-weight: normal;
    line-height: 1;
  }
}

h1,
h2,
h3 {
  margin-top: 30px;
  margin-bottom: 15px;

  small {
    font-size: 65%;
  }
}
h4,
h5,
h6 {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed-half;

  small {
    font-size: 75%;
  }
}

h1,
.alpha {
  font-size: 30px;
  @media screen and (min-width: $screen-md-min) {
    font-size: $font-size-h1 * 0.7;
  }
  @media screen and (min-width: $screen-lg-min) {
    font-size: $font-size-h1;
  }
}
h2,
.beta {
  font-size: 24px;
  @media screen and (min-width: $screen-md-min) {
    font-size: $font-size-h2 * 0.7;
  }
  @media screen and (min-width: $screen-xmd-min) {
    font-size: $font-size-h2;
    line-height: 1.04;
  }
}
h3,
.gamma {
  font-size: 26px;
  @media screen and (min-width: $screen-md-min) {
    font-size: $font-size-h3;
  }
}
h4,
.delta {
  font-size: 18px;
  @media screen and (min-width: $screen-md-min) {
    font-size: $font-size-h4;
  }
}
h5,
.epsilon {
  font-size: 14px;
  @media screen and (min-width: $screen-md-min) {
    font-size: $font-size-h5;
  }
}
h6,
.zeta {
  font-size: $font-size-h6;
}

// Body text
p {
  margin: 0 0 $line-height-computed-half;
}

b {
  font-weight: 600;
  font-family: 'Museo Sans Cyrl 700';
}

// Alignment
.text--left {
  text-align: left;
}
.text--right {
  text-align: right;
}
.text--center {
  text-align: center;
}
.text--justify {
  text-align: justify;
}
.text--nowrap {
  white-space: nowrap;
}

// Responsive alignment
@if $use-adaptive == true {
  @media screen and (min-width: $screen-sm-min) {
    .text__sm--left {
      text-align: left;
    }
    .text__sm--right {
      text-align: right;
    }
    .text__sm--center {
      text-align: center;
    }
  }
  @media screen and (min-width: $screen-md-min) {
    .text__md--left {
      text-align: left;
    }
    .text__md--right {
      text-align: right;
    }
    .text__md--center {
      text-align: center;
    }
  }

  @media screen and (min-width: $screen-lg-min) {
    .text__lg--left {
      text-align: left;
    }
    .text__lg--right {
      text-align: right;
    }
    .text__lg--center {
      text-align: center;
    }
  }

  @media screen and (min-width: $screen-xl-min) {
    .text__xl--left {
      text-align: left;
    }
    .text__xl--right {
      text-align: right;
    }
    .text__xl--center {
      text-align: center;
    }
  }
}

// Transformation
.text--lowercase {
  text-transform: lowercase;
}
.text--uppercase {
  text-transform: uppercase;
}
.text--capitalize {
  text-transform: capitalize;
}

// Text size
.text__xs {
  font-size: $font-size-tiny;
}
.text__sm {
  font-size: $font-size-small;
  line-height: 1.25;
}
.text__md {
  font-size: $font-size-medium;
}
.text__lg {
  font-size: 18px;
  line-height: 1.2;
  @media screen and (min-width: $screen-md-min) {
    font-size: $font-size-large;
  }
}
.text__xl {
  font-size: 22px;
}

@if $use-color-text == true {
  // Color text
  @include text-emphasis-variant(".text--primary", $base-color-main);
  @include text-emphasis-variant(".text--success", $color-type-4a);
  @include text-emphasis-variant(".text--info", $color-type-1a);
  @include text-emphasis-variant(".text--warning", $color-type-3a);
  @include text-emphasis-variant(".text--danger", $color-type-2a);
  @include text-emphasis-variant(".text--grey", $gray-darken-1);
}

// Lists
ul,
ol {
  margin-top: 0;
  margin-bottom: $line-height-computed-half;
  ul,
  ol {
    margin-bottom: 0;
  }
}

.list {
  &--unstyled {
    @include list--unstyled;
  }

  &--inline {
    @include list--unstyled;
    margin-left: -5px;
    > li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  &--counter {
    //max-width: 610px;
    @include list--unstyled;
    li {
      display: block;
      position: relative;
      overflow: hidden;
      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 4px;
        left: 0;
        width: 100%;
        height: 2px;
        border-top: 1px dotted #666;
      }
      .key {
        display: inline-block;
        position: relative;
        z-index: 2;
        background: #fff;
        padding-right: 5px;
      }
      .value {
        display: block;
        float: right;
        bottom: 0;
        right: 0;
        z-index: 2;
        background: #fff;
        padding-left: 5px;
      }
    }
  }

  &--bullet {
    @include list--unstyled;
    line-height: 1.55;
    margin-bottom: 0;
    > li {
      margin-bottom: 15px;
      padding-left: 30px;
      position: relative;
      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        content: "";
        background: url("../images/icons/list.svg") no-repeat center / cover;
        width: 14px;
        height: 10px;
        position: absolute;
        top: 5px;
        left: 0;
      }
    }
  }

}

blockquote {
  padding: 20px;
  border: 8px solid $base-color-light;
  @media screen and (min-width: $screen-xmd-min) {
    padding: 50px;
  }
  h4 {
    margin: 0;
    font-weight: 500;
    font-family: 'PF Regal Display Pro Medium';
    line-height: 1.363636;
  }
}
