//
// Modules -> Navs
// --------------------------------------------------

.nav {
  &__justified {
    width: 100%;

    @if $use-adaptive == true {
      li {
        float: none;
        > a {
          margin-bottom: 5px;
          text-align: center;
        }
        @media screen and (min-width: $screen-adaptive-nav) {
          display: table-cell;
          width: 1%;
          > a {
            margin-bottom: 0;
          }
        }
      }
    } @else {
      li {
        display: table-cell;
        width: 1%;
        > a {
          text-align: center;
          margin-bottom: 5px;
        }
      }
    }
  }

  &__fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    border-width: 0 0 1px;
    z-index: $zindex-navbar-fixed;
  }
}

.sub-nav {
  @media screen and (min-width: $screen-adaptive-nav) {
    position: absolute;
    top: 50px;
    padding-top: 10px;
    min-width: 320px;
    transition: opacity 0.3s;
    z-index: -99;
    opacity: 0;
  }
  li {
    display: block;

    a {
      color: #9dadff;

      &:hover {
        color: white;
        text-decoration: none;
      }
    }
  }

  .sub-nav__inner {
    @media screen and (min-width: $screen-adaptive-nav) {
      background: $base-color-main;
      left: 0;
      padding: 10px;
      font-size: 14px;
      line-height: 140%;
    }
  }
}

.main-nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  &__item {
    position: relative;

    @if $use-adaptive == true {
      display: block;
      @media screen and (min-width: $screen-adaptive-nav) {
        display: inline-block;
      }
    } @else {
      display: inline-block;
    }
  }
  &__link {
    position: relative;
    padding: $nav-link-padding;
    text-decoration: none;
    display: block;
    @if $use-adaptive == true {
      background-color: $base-color-main;
      @media screen and (min-width: $screen-adaptive-nav) {
        background-color: transparent;
      }
    } @else {
      background-color: transparent;
    }
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  img {
    max-width: none;
  }

  @if $use-adaptive == true {
    &__toggle {
      position: relative;
      display: flex;
      cursor: pointer;
      width: 30px;
      height: 13px;
      position: relative;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      cursor: pointer;

      @media screen and (min-width: $screen-adaptive-nav) {
        display: none;
      }
      span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: $base-color-dark;
        opacity: 1;
        right: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
      }

      span:nth-child(1) {
        top: 0px;
        transform-origin: left center;
      }
      span:nth-child(2) {
        top: 9px;
        transform-origin: left center;
      }

      .active span:nth-child(1) {
        transform: rotate(45deg);
        top: -3px;
        left: 0;
      }

      .active span:nth-child(2) {
        transform: rotate(-45deg);
        top: 18px;
        left: 0;
      }
    }
    &__collapse {
      position: absolute;
      top: -500px;
      left: 0;
      right: 0;
      padding-bottom: 30px;
      text-align: center;
      background-color: #F6F3EF;
      transition: top .5s;

      &.active {
        top: 64px;
      }

      @media screen and (min-width: $screen-adaptive-nav) {
        padding-bottom: 0;
        position: static;
        width: auto;
        text-align: left;
        background-color: transparent;
      }
    }
  }
}

.subNav {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media screen and (min-width: $screen-md-min) {
    font-size: 18px;
    max-width: 800px;
  }
  &__item {
    margin-bottom: 30px;
    width: 50%;
    @media screen and (min-width: $screen-md-min) {
      &:nth-child(5),
      &:nth-child(1) {
        width: 26%;
      }
      &:nth-child(6),
      &:nth-child(2) {
        width: 34%;
      }
      &:nth-child(7),
      &:nth-child(3) {
        width: 27%;
      }
      &:nth-child(8),
      &:nth-child(4) {
        width: 13%;
      }
    }
  }
  &__link {
    color: $gray-darken-2;
    //border-bottom: 2px solid $gray-lighten;
    transition: border-bottom-color 0.5s;
    position: relative;
    &:before {
      content: '';
      width: 100%;
      height: 2px;
      background-color: $gray-lighten;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -5px;
    };
    &:after {
      content: '';
      width: 0;
      height: 2px;
      background-color: $base-color-main;
      position: absolute;
      left: 0;
      bottom: -5px;
      transition: width 0.5s;
    }
    &.active {
      &:after {
        width: 100%;
      }
    }
    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
}

.subSections {
  list-style: none;
  position: relative;
  &:before {
    content: "";
    background-color: $gray;
    position: absolute;
    right: -10%;
    width: 120%;
    top: 0;
    height: 1px;
  }
  li {
    font-size: 14px;
    line-height: 1.57;
    display: inline-block;
    color: $gray-darken-1;
    margin-right: 10px;
    z-index: 10;
    @media screen and (min-width: $screen-md-min) {
      margin-right: 30px;
    }
    @media screen and (min-width: $screen-xmd-min) {
      margin-right: 70px;
      &:first-child {
        margin-right: 116px;
      }
    }
    span {
      padding: 10px 0;
      @media screen and (min-width: $screen-md-min) {
        padding: 25px 0;
      }
    }
    a {
      color: $gray-darken-2;
      position: relative;
      display: block;
      padding: 10px 0;
      @media screen and (min-width: $screen-md-min) {
        padding: 25px 0;
      }
      &:after {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: background-color 0.5s;
      }
      &.active:after,
      &:hover:after {
        background-color: $base-color-main;
      }
    }
  }
}

// faq
clientsBlock,
.faq {
  .subNav {
    max-width: inherit;
    justify-content: flex-start;
    @media screen and (min-width: $screen-lg-min) {
      width: 90%;
    }
    &__item {
      width: calc(100% / 2);
      @media screen and (min-width: $screen-md-min) {
        width: calc(100% / 3);
      }
      @media screen and (min-width: $screen-xmd-min) {
        width: calc(100% / 4);
      }
      @media screen and (min-width: $screen-lg-min) {
        width: calc(100% / 6);
        &:nth-child(10),
        &:nth-child(4) {
          width: 13%;
        }
        &:nth-child(5) {
          width: 20%;
        }
      }
    }
  }
}
.clientsBlock {
  .subNav {
    max-width: inherit;
    justify-content: flex-start;
    @media screen and (min-width: $screen-lg-min) {
      width: 90%;
    }
    &__item {
      @media screen and (min-width: $screen-lg-min) {
        width: auto;
        margin-right: 80px;
        &:nth-last-child(2) {
          margin-right: 101px;
        }
        &:nth-last-child(3) {
          margin-right: 144px;
        }
        &:nth-last-child(4) {
          margin-right: 70px;
        }
      }
    }
  }
}
.contactsBlock {
  .subNav {
    max-width: 840px;
    justify-content: flex-start;
    &__item {
      width: 100%;
      @media screen and (min-width: $screen-md-min) {
        width: calc(100% / 4);
        &:nth-child(5),
        &:nth-child(2) {
          width: 46%;
        }
      }
    }
  }
}


.faq.clientsBlock {
  .subNav {
    @media screen and (min-width: $screen-lg-min) {
      width: 100% !important;
    }
    &__item {
      @media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
        width: calc(100% / 6);
        margin-right: 0;
        padding-right: 40px;
      }
      @media screen and (min-width: $screen-xl-min) {
        &:nth-child(10),
        &:nth-child(4) {
          width: 8%;
        }
        &:nth-last-child(2) {
          margin-right: 80px;
        }
        &:nth-child(5) {
          width: 15%;
        }
      }
    }
  }
}
