.popup-block {
  //margin: 0;
  width: 100%;
  max-width: 1020px;
  background-color: white;
  min-height: 100vh;

  .control {
    background-color: transparent;
  }

  .controlMain {
    height: 70px;
    width: 100%;
    border: 1px solid #D0D0D0;
    text-align: center;
    border-radius: 50px;
    font-size: 16px;
  }

  .form__group {
    margin-bottom: 30px;
  }

  &--sm {
    padding: 20px;
    max-width: 580px;
    @media screen and (min-width: $screen-md-min) {
      padding: 60px;
    }
    &#call {
      @media screen and (min-width: $screen-md-min) {
        display: flex;
        min-height: 100vh;
      }
    }
    h4 {
      margin-top: 0;
      font-size: 30px;
    }
    .checkbox {
      color: $black;
    }
    a {
      color: $black;
      text-decoration: underline;
    }
  }

  .kit {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 8px solid #F5F5F5;
    padding: 20px;
    margin: 20px 0;
    @media screen and (min-width: $screen-md-min) {
      align-items: flex-end;
      justify-content: space-between;
      flex-wrap: nowrap;
      padding: 20px 30px;
      margin: 40px 0;
    }
    p {
      margin-bottom: 5px;
    }
    h5 {
      font-size: 22px;
      line-height: 1.181818;
      font-weight: 500;
      font-family: 'PF Regal Display Pro Medium';
    }
    h5,
    h4 {
      margin-top: 0;
      margin-bottom: 0;
    }
    &__item {}
  }

  .summ {
    border: 8px solid #F5F5F5;
    padding: 20px;
    margin: 20px 0;
    position: relative;
    @media screen and (min-width: $screen-md-min) {
      padding: 20px 30px;
      margin: 40px 0;
    }
    &__item {
      @media screen and (min-width: $screen-md-min) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      p {
        margin-bottom: 0;
      }
      a {
        text-decoration: none;
        border-bottom: 1px solid $base-color-main;
      }
    }
    .summCount {
      font-size: 22px;
      line-height: 1.2;
    }
    .summCountMain {
      font-size: 30px;
      line-height: 1.2;
    }
  }

  .card {
    padding: 0;
    margin: 0;
    justify-content: stretch;
    height: 100%;
    &__left {
      padding: 20px;
      background: white;
      @media screen and (min-width: $screen-md-min) {
        padding: 60px 40px;
      }
    }
    &__right {
      max-width: inherit;
      padding: 20px;
      background: $base-color-light;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      @media screen and (max-width: $screen-sm-max) {
        margin: 0;
      }
      @media screen and (min-width: $screen-md-min) {
        padding: 60px 20px 60px 60px;
      }
      .btn {
        margin: 20px 0;
        @media screen and (min-width: $screen-md-min) {
          margin: 50px 0;
        }
      }
      a {
        //display: flex;
        //align-items: center;
        img {
          margin-left: 15px;
          width: 22px;
          vertical-align: middle;
        }
      }
    }
  }

}

.close-popup {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  height: 46px;
  width: 46px;
  background: url("../images/icons/close.svg") no-repeat center;
  @media screen and (min-width: $screen-sm-min) {
    background: url("../images/icons/close-wh.svg") no-repeat center;
    right: 0;
    top: -50px;
  }
  @media screen and (min-width: $screen-xmd-min) {
    right: -55px;
    top: 10px;
  }
}

#call {
  padding-top: 80px;
  background: url("../images/popup.png") no-repeat center top 10px, white;
  @media screen and (min-width: $screen-md-min) {
    padding-top: 130px;
    background: url("../images/popup.png") no-repeat center top 20px, white;
  }
  p {
    margin-bottom: 35px;
  }
}

#keys {
  .card {
    h4 {
      font-size: 24px;
      margin-bottom: 20px;
      @media screen and (min-width: $screen-md-min) {
        font-size: 30px;
        margin-bottom: 40px;
      }
    }
    &__left {
      padding: 0 0 20px;
      @media screen and (min-width: $screen-md-min) {
        padding: 0 0 60px;
      }
      .slick-arrow {
        top: 40%;
      }
    }
    &__right {
      display: block;
      padding: 20px;
      h4 {
        line-height: 1.2;
      }
      @media screen and (min-width: $screen-md-min) {
        img {
          position: relative;
          left: -120px;
        }
      }
      @media screen and (min-width: $screen-xmd-min) {
        padding: 80px 60px;
      }
      .linkDots {
        margin-bottom: 20px;
        @media screen and (min-width: $screen-md-min) {
          margin-bottom: 60px;
        }
      }
    }
  }
}

#card {
  .input__quantity input {
    font-size: 16px;
    line-height: 1.1875;
  }
}

.sentForm {
  display: none;
  margin: auto;
}

.linkDots {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1px dashed $base-color-main;
  &:hover {
    border-color: transparent;
  }
}
