.tabs {
  position: relative;
  &-list {
  }
  .tab {
    &.active,
    &:hover {
      color: $base-color-dark;
      background-color: $base-color-lighten;
    }
  }
  &-content {
    display: none;
    &.show {
      display: block;
    }
  }

}

.mainProduct {
  .tabs {
    &-list {
      display: flex;
      font-size: 12px;
      align-items: stretch;
      text-transform: uppercase;
      background-color: $base-color-light;
      position: relative;
      flex-wrap: wrap;
      @media screen and (min-width: $screen-md-min) {
        font-size: 15px;
        letter-spacing: 0.2em;
        font-size: 17px;
        height: 120px;
      }
      @media screen and (min-width: $screen-xmd-min) {
        flex-wrap: nowrap;
      }
      &:after {
        content: '';
        top: 0;
        bottom: 0;
        left: -60%;
        width: 200%;
        position: absolute;
        z-index: -1;
        background-color: $base-color-light;
      }
    }
    .tab {
      height: 100%;
      color: $black;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      width: calc(100% / 3);
      text-align: center;
      @media screen and (min-width: $screen-md-min) {
        text-align: left;
        width: auto;
        padding: 0 40px;
      }
      @media screen and (min-width: $screen-lg-min) {
        + .tab {
          margin-left: 20px;
        }
      }
      &:after {
        content: '';
        height: 4px;
        left: 0;
        bottom: 0;
        position: absolute;
        width: 0;
        transition: width .5s, background-color .5s;
      }
      &:hover {
        color: $base-color-main;
        background-color: $base-color-light;
        &:after {
          width: 100%;
          background-color: $base-color-main;
        }
      }
      &.active {
        color: $base-color-dark;
        background-color: $base-color-lighten;
        &:after {
          width: 100%;
          background-color: $base-color-dark;
        }
      }
    }
  }

  .orders {
    //position: absolute;
    //right: 0;
    //top: 40px;
    //z-index: 99;
    @media screen and (min-width: $screen-md-min) {
      margin-left: auto;
    }
    align-items: center;
  }
}
