.tooltip {

}

.tooltipMain {
  position: relative;
}

.tooltipBody {
  opacity: 0;
  z-index: -999;
  background: white;
  box-shadow: 8px 10px 50px rgba(171, 142, 126, 0.27);
  width: 270px;
  padding: 20px;
  font-size: 14px;
  line-height: 1.214;
  color: $black;
  position: absolute;
  bottom: 110%;
  transition: opacity .5s;
  &:after {
    content: '';
    border-style: solid;
    border-width: 6px 19px 0 19px;
    border-color: white transparent transparent transparent;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6px;
    margin: auto;
    width: 0;
    height: 0;
  }

  &.active {
    opacity: 1;
    z-index: 99;
  }
  .summCount {
    font-size: 14px !important;
  }
}
