.cardBack {
  padding: 80px 0 0;
  position: relative;
  background: url("../images/mainBack.jpg") no-repeat center / cover;
  @media screen and (min-width: $screen-md-min) {
    padding: 146px 0 0;
  }
  @media screen and (min-width: $screen-lg-min) {
    padding: 112px 0 0;
  }

  .textIcon {
    font-size: 14px;
    line-height: 1.21428;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    img {
      width: 22px;
    }
  }
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  background-color: white;
  margin-top: 20px;
  padding-top: 20px;
  margin-left: -15px;
  margin-right: -15px;
  @media screen and (min-width: $screen-md-min) {
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
    padding-top: 60px;
  }
  @media screen and (min-width: $screen-xmd-min) {
    padding-right: 25px;
  }
  @media screen and (min-width: $screen-lg-min) {
    padding-right: 75px;
  }

  &__left {
    width: 100%;
    text-align: center;
    position: relative;
    @media screen and (min-width: $screen-md-min) {
      width: 48%;
    }
    @media screen and (min-width: $screen-xmd-min) {
      width: 50%;
    }
    .slick-arrow {
      width: 48px;
      height: 48px;
      position: absolute;
      z-index: 9;
      top: 40%;
      cursor: pointer;
      font-size: 22px;
      color: #C7C7C7;
      i {
        position: relative;
        z-index: 2;
      }
      &:after {
        display: none;
      }
      &:hover {
        color: $base-color-main;
      }
    }
    .slick-prev {
      left: 0;
      @media screen and (min-width: $screen-md-min) {
        left: 40px;
      }
    }
    .slick-next {
      right: 0;
      left: auto;
      @media screen and (min-width: $screen-md-min) {
        right: 40px;
      }
    }
    .slick-slide img {
      display: inline-block;
    }
    .slider-navi {
      max-width: 360px;
      margin: 20px auto 0;
      @media screen and (min-width: $screen-md-min) {
        margin: 60px auto 0;
      }
      &__item {
        border: 4px solid #F7F3EF;
        width: 20vw !important;
        height: 22vw;
        display: flex !important;
        margin: 4px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        @media screen and (min-width: $screen-md-min) {
          height: 86px;
          width: 83px !important;
          margin: 4px;
        }
      }
      .slick-current {
        .slider-navi__item {
          border-color: $base-color-main;
        }
      }
    }
  }
  &__right {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    @media screen and (min-width: $screen-md-min) {
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
      width: 48%;
    }
    @media screen and (min-width: $screen-xmd-min) {
      width: 50%;
      padding-top: 20px;
    }
    .btn--primary {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 100%;
      @media screen and (min-width: $screen-md-min) {
        width: auto;
        margin-bottom: 40px;
      }
    }
    h4 {
      line-height: 1.363636;
      margin-bottom: 20px;
      @media screen and (min-width: $screen-md-min) {
        margin-bottom: 10px;
      }
    }
    .btn--outlined {
      margin-top: auto;
      i {
        position: relative;
        z-index: 1;
        margin-right: 15px;
      }
      &:hover {
        color: white;
        i:before {
          @include sprite("calc-wh");
        }
      }
    }
  }
  &-price {
    font-size: 24px;
    @media screen and (min-width: $screen-md-min) {
      font-size: 30px;
      margin-bottom: 20px;
    }
    @media screen and (min-width: $screen-xmd-min) {
      margin-bottom: 40px;
    }
  }
}

.cardComposition {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media screen and (min-width: $screen-md-min) {
    padding-top: 120px;
  }
  &__left {
    width: 100%;
    max-width: 580px;
    position: relative;
    padding: 20px;
    @media screen and (min-width: $screen-md-min) {
      width: 50%;
      padding: 30px;
      border: 8px solid #F7F3EF;
    }
    @media screen and (min-width: $screen-lg-min) {
      padding: 80px 70px 60px 80px;
    }
    h3 {
      background-color: white;
      @media screen and (min-width: $screen-md-min) {
        padding: 20px;
        position: absolute;
        top: -65px;
        left: -30px;
        top: -80px;
      }
    }
  }
  &__right {
    width: 100%;
    @media screen and (min-width: $screen-md-min) {
      width: 47%;
    }
    @media screen and (min-width: $screen-lg-min) {
      width: 42%;
    }
    h3 {
      margin-bottom: 20px;
      @media screen and (min-width: $screen-md-min) {
        margin-top: -20px;
        margin-bottom: 60px;
      }
    }
  }
}

.mainCatalog {
  position: relative;
  z-index: 9;
}

.cardOrder {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: $screen-lg-min) {
    padding-bottom: 100px;
  }
  &__left {
    width: 100%;
    @media screen and (min-width: $screen-md-min) {
      width: 40%;
    }
    h3 {
      @media screen and (min-width: $screen-md-min) {
        margin-bottom: 60px;
      }
    }
    .btn {
      width: 100%;
      @media screen and (min-width: $screen-md-min) {
        width: auto;
        margin-top: 60px;
      }
    }
    p {
      line-height: 1.5;
      margin-bottom: 25px;
    }
  }
  &__right {
    width: 100%;
    @media screen and (min-width: $screen-md-min) {
      width: 60%;
    }
    img {
      @media screen and (min-width: $screen-md-min) {
        max-width: inherit;
        margin-top: -160px;
      }
    }
  }
}
