
.indexDesc {
  padding: 0;
  @media screen and (min-width: $screen-md-min) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
  }
}

.mainSlider {
  padding: 80px 0 40px;
  position: relative;
  background: url("../images/mainBack.jpg") no-repeat center / cover;
  @media screen and (min-width: $screen-md-min) {
    padding: 112px 0 90px;
  }
  @media screen and (min-width: $screen-lg-min) {
    padding: 112px 0 90px;
  }

  .slick-list {
    @media screen and (min-width: $screen-md-min) {
      overflow: visible;
    }
  }

  .mainSliderItem {
    @media screen and (min-width: $screen-md-min) {
      margin-left: 38%;
    }
  }

  .mainSliderText {
    opacity: 0;
    transform: translateY(200%);
    transition: transform .7s, opacity .7s;
    transition-delay: .7s;
    @media screen and (min-width: $screen-md-min) {
      position: absolute;
      bottom: -1%;
      margin-left: 6%;
      z-index: 5;
    }
    @media screen and (min-width: $screen-lg-min) {
      margin-left: 5%;
    }
    @media screen and (min-width: $screen-xl-min) {
      margin-left: 12%;
    }
  }
  .mainSliderImg {
    position: relative;
    opacity: 0;
    transform: translateX(130%);
    transition: transform .7s, opacity .2s;
    img {
      position: relative;
      z-index: 5;
    }
    @media screen and (min-width: $screen-md-min) {
      img {
        max-width: inherit;
        margin-left: auto;
      }
    }
    .additionalImg {
      img {
        position: absolute;
        z-index: 1;
        opacity: 0;
        transform: translateX(130%);
        transition: transform .7s, opacity .2s;
        width: 39vw;
        @media screen and (min-width: $screen-md-min) {
          width: auto;
        }
        &:first-child {
          bottom: 9%;
          left: -2%;
          transition-delay: .3s;
          @media screen and (min-width: $screen-md-min) {
            bottom: 17%;
            left: 0%;
          }
          @media screen and (min-width: $screen-xl-min) {
            left: 9%;
          }
        }
        &:nth-child(2) {
          right: -15%;
          bottom: 0;
          z-index: 3;
          transition-delay: .5s;
          @media screen and (min-width: $screen-md-min) {
            bottom: -10%;
          }
          @media screen and (min-width: $screen-lg-min) {
            right: -15%;
          }
        }
        &:last-child {
          right: -12%;
          top: 0;
          transition-delay: .7s;
        }
      }
    }
    @media screen and (min-width: $screen-lg-min) {
      //left: 43%;
    }
    .badge {
      display: none;
      color: white;
      font-family: 'PF Regal Display Pro Bold';
      font-weight: bold;
      font-size: 14px;
      line-height: 1.85714;
      letter-spacing: 0.195em;
      text-transform: uppercase;
      position: relative;
      padding: 6px 20px;
      z-index: 1;
      background: url("../images/badge.svg") no-repeat center / 100% auto;
      opacity: 0;
      transform: translateY(200%);
      transition: transform .7s, opacity .7s;
      transition-delay: .7s;

      &:after {
        content: "";
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 0;
        top: 0;
        z-index: -1;
        background-color: $base-color-dark;
      }
      @media screen and (min-width: $screen-md-min) {
        position: absolute;
        bottom: 23%;
        left: 8%;
        display: block;
        z-index: 9;
      }
      @media screen and (min-width: $screen-lg-min) {
        left: 8%;
      }
      @media screen and (min-width: $screen-xl-min) {
        left: 24%;
      }
    }
  }

  h1 {
    margin-top: 20px;
    @media screen and (min-width: $screen-md-min) {
      margin-top: 60px;
    }
  }

  .container {
    @media screen and (max-width: $screen-md-max) {
      width: 100%;
    }

  }

  .col__md-6:last-child {
    //display: flex;
    //flex-direction: column;
    //justify-content: flex-end;
    //align-items: flex-start;
  }

  .text__lg {
    margin-bottom: 25px;

    font-family: 'Museo Sans Cyrl 500';
    font-weight: normal;
    line-height: 1.3;
  }

  &-img {
    position: absolute;
    left: 0;
    top: 79%;
    display: none;
    @media screen and (min-width: $screen-md-min) {
      display: block;
    }
  }

  .text__xs {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.15em;
  }

  .btn {
    margin-top: 10px;
    margin-bottom: 20px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 90px;
    }
  }

  > .linkInner .textIcon {
    img {
      width: 16px;
    }
  }
}

//.slick-active:not(.initSlide) {
//  .mainSliderText {
//    opacity: 1;
//    transform: translateY(0);
//  }
//  .mainSliderImg {
//    opacity: 1;
//    transform: translateX(0);
//    .badge {
//      opacity: 1;
//      transform: translateY(0);
//    }
//    .additionalImg {
//      img {
//        opacity: 1;
//        transform: translateX(0);
//      }
//    }
//  }
//}

.nextSlide,
.initSlide {
  .mainSliderText {
    opacity: 1;
    transform: translateY(0);
  }
  .mainSliderImg {
    opacity: 1;
    transform: translateX(0);
    .badge {
      opacity: 1;
      transform: translateY(0);
    }
    .additionalImg {
      img {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

.prevSlide {
  .mainSliderText {
    transform: translateY(-500%);
    transition-delay: 0s;
  }
  .mainSliderImg {
    transform: translateY(-300%);
    transition-delay: 0s;
    .badge {
      transform: translateY(-300%);
      transition-delay: 0s;
    }
    .additionalImg {
      img {
        transform: translateX(0);
        transform: translateY(-300%);
        transition-delay: 0s;
      }
    }
  }
}

.mainCatalog {
  padding: 40px 0 10px;
  @media screen and (min-width: $screen-md-min) {
    padding: 70px 0;
  }
  @media screen and (min-width: $screen-xmd-min) {
    padding: 120px 0;
  }

  .slider-nav {
    @media screen and (min-width: $screen-md-min) {
      margin-right: 10px;
    }
  }

  &__item {
    width: 295px !important;
    background: white;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: top .5s;
    position: relative;
    top: 0;

    &-desc {
      padding: 30px 40px;
      height: 130px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      font-family: 'Museo Sans Cyrl 500';
      font-weight: normal;
      p {
        line-height: 1.1875;
      }
    }

    &:hover {
      top: -10px;
    }
  }

  .slick-list {
    overflow: visible;
  }

  .slick-slide {
    margin-right: 10px;
    @media screen and (min-width: $screen-md-min) {
      margin-right: 0;
      opacity: 0;
      transition: opacity .5s;

      &.slick-active {
        opacity: 1;
      }
    }
  }
}

.mainPresents {
  position: relative;
  padding-top: 20px;
  @media screen and (min-width: $screen-md-min) {
    padding-top: 70px;
  }
  @media screen and (min-width: $screen-xmd-min) {
    padding-top: 150px;
  }

  &-img {
    @media screen and (min-width: $screen-md-min) {
      position: absolute;
      right: -20%;
      top: 6%;
      max-width: 71%;
    }
    @media screen and (min-width: $screen-xmd-min) {
      top: 0;
    }
    @media screen and (min-width: $screen-lg-min) {
      max-width: inherit;
    }
  }

  .presentsList {
    margin-top: 80px;
    @media screen and (min-width: $screen-xmd-min) {
      margin-top: 180px;
    }
  }
}

.mainForm {
  padding: 30px 0;
  margin: 40px 0;
  position: relative;
  @media screen and (min-width: $screen-md-min) {
    padding: 60px 0;
    margin: 100px 0;
  }
  @media screen and (min-width: $screen-xmd-min) {
    padding: 110px 0;
  }
  background:
    //url("../images/14.png") no-repeat left bottom,
    url("../images/formTea.svg") no-repeat right 80px bottom 40px,
    url("../images/formBack.jpg") no-repeat center / cover;

  .text__lg {
    width: 100%;
    @media screen and (min-width: $screen-xmd-min) {
      width: 150px;
    }
  }

  .input__body {
    width: 100%;
    margin-top: 20px;
    @media screen and (min-width: $screen-xmd-min) {
      margin-top: 0;
      width: calc(100% - 150px);
    }
  }

  .mainFormImg {
    position: absolute;
    right: 0;
    top: -8%;
    max-width: 35%;
    @media screen and (min-width: $screen-md-min) {
      top: -28%;
    }
    @media screen and (min-width: $screen-lg-min) {
      //img {max-width: inherit;}
    }
  }

  hr {
    width: 69px;
    border: none;
    border-top: 1px solid $base-color-main;
    margin-bottom: 30px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 70px;
    }
  }

  form {
    background-color: white;
    padding: 20px;
    @media screen and (min-width: $screen-md-min) {
      padding: 40px 30px;
    }
    @media screen and (min-width: $screen-xmd-min) {
      padding: 60px;
    }
  }
}

.mainProduct {
  @media screen and (min-width: $screen-xmd-min) {
    margin-bottom: 60px;
  }

  h2 {
    margin-bottom: 25px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 40px;
    }
    @media screen and (min-width: $screen-xmd-min) {
      margin-bottom: 80px;
    }
  }
}

.mainDesign {
  margin-bottom: 20px;
  position: relative;
  @media screen and (min-width: $screen-md-min) {
    margin-bottom: 60px;
  }

  .title {
    display: flex;
    justify-content: space-between;

    img {
      display: none;
      @media screen and (min-width: $screen-md-min) {
        display: block;
        position: absolute;
        top: 0;
        right: 15px;
        z-index: -1;
      }
      @media screen and (min-width: $screen-xmd-min) {
        //position: static;
        margin-right: 100px;
      }
    }
  }

  &-desc {
    padding-top: 20px;
    @media screen and (min-width: $screen-md-min) {
      padding-top: 10px;
    }

    h4 {
      margin-bottom: 35px;
      margin-top: 0;
      line-height: 1.3636;
      @media screen and (min-width: $screen-xmd-min) {
        margin-top: 20px;
      }
    }

    .price {
      display: flex;
      margin-bottom: 20px;
      @media screen and (min-width: $screen-xmd-min) {
        margin-bottom: 60px;
      }
      p {
        margin-bottom: 5px;
      }

      div {
        margin-right: 15px;
        font-size: 11px;
        letter-spacing: 0.15em;
        text-transform: uppercase;

        span {
          font-size: 20px;
          color: $base-color-main;
        }
      }
    }
  }

  .tabs--main {
    > .tabs-list {
      display: flex;
      position: relative;
      .line {
        position: absolute;
        left: 0;
        width: calc(100% / 3);
        bottom: 0;
        height: 2px;
        transition: left .5s;
        background-color: $base-color-main;
      }
      &:after {
        content: '';
        left: -50%;
        right: 0;
        height: 1px;
        background-color: #E3DDD5;
        position: absolute;
        bottom: 0;
        @media screen and (min-width: $screen-md-min) {
          right: -50%;
        }
      }

      .tab {
        color: $black;
        width: auto;
        text-align: center;
        padding: 5px 0;
        margin-right: 15px;
        //border-bottom: 2px solid transparent;
        position: relative;
        z-index: 9;
        font-size: 18px;
        line-height: 1.18;
        @media screen and (min-width: $screen-md-min) {
          font-size: 22px;
          margin-right: 0;
          width: 33%;
          padding: 30px 0;
        }

        &:hover {
          color: $base-color-main;
          background-color: transparent;
        }

        &.active {
          //border-color: $base-color-main;
          color: $base-color-main;
          background-color: transparent;
        }
      }
    }

    .tabs {
      &-list {
        margin: 20px 0;
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow-x: auto;
        @media screen and (min-width: $screen-md-min) {
          white-space: normal;
          flex-wrap: wrap;
          margin: 30px 0;
          overflow: visible;
        }
        @media screen and (min-width: $screen-lg-min) {
          margin: 60px 0;
        }
      }

      .tab {
        color: $black;
        border-radius: 20px;
        background-color: $base-color-light;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 5px 10px;
        transition: color .5s;
        position: relative;
        @media screen and (min-width: $screen-md-min) {
          overflow: hidden;
          padding: 10px 30px;
        }

        span {
          position: relative;
          z-index: 2;
        }

        @media screen and (min-width: $screen-md-min) {
          &:after {
            content: '';
            position: absolute;
            left: -2px;
            right: -2px;
            bottom: 0;
            height: 0;
            transition: height .5s;
            background-color: $base-color-main;
          }
        }

        &:hover {
          color: white;
          background-color: $base-color-main;
          @media screen and (min-width: $screen-md-min) {
            background-color: $base-color-light;
          }

          &:after {
            height: 100%;
          }
        }

        &.active {
          color: white;
          background-color: $base-color-main;
        }
      }
    }
  }
}

.mainClients {
  background-color: $base-color-light;
  padding: 40px 0 40px 15px;
  @media screen and (min-width: $screen-md-min) {
    padding: 70px 0 70px 30px;
  }
  @media screen and (min-width: $screen-xmd-min) {
    padding: 120px 0 120px 70px;
  }

  h2 {
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 80px;
    }
  }

  &-slider {
    .slick-list {
      padding: 10px 0;
    }
  }

  .slick-slide {
    margin-right: 10px;
  }

  &__item {
    width: 295px !important;
    background-color: white;
    top: 0;
    display: block;
    transition: top .5s;
    cursor: pointer;
    position: relative;
    @media screen and (min-width: $screen-md-min) {
      width: 325px !important;
    }

    .img {
      height: 50px;
      margin-bottom: 30px;
    }

    &-desc {
      padding: 30px;
      h4 {
        color: $base-color-dark;
      }

      span {
        font-size: 14px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #ED8144;
      }
    }

    &:hover {
      top: -10px;
    }
  }

  .slider-nav {
    margin-top: 50px;
  }

  .progress {
    margin-top: 20px;
    @media screen and (min-width: $screen-xmd-min) {
      position: absolute;
      bottom: 30px;
      left: 34%;
      margin-top: 0;
    }
    @media screen and (min-width: $screen-lg-min) {
      left: 30%;
    }
  }
}

.mainHowTo {
  padding-top: 40px;
  position: relative;
  @media screen and (min-width: $screen-md-min) {
    padding-top: 70px;
    //background: url("../images/howToBack1.png") no-repeat left top 40px, url("../images/howToBack2.png") no-repeat right top 30%;
  }
  @media screen and (min-width: $screen-xmd-min) {
    padding-top: 120px;
  }
  &-imgLeft {
    position: absolute;
    top: 40px;
    left: 0;
  }
  &-imgRight {
    position: absolute;
    right: 0;
    top: 30%;
  }

  .text--center h2 {
    margin-bottom: 40px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 70px;
    }
    @media screen and (min-width: $screen-xmd-min) {
      margin-bottom: 120px;
    }
  }

  .mainHowToList {
    margin: auto;

    &__item {
      background-color: $base-color-light;
      position: relative;
      margin-bottom: 20px;
      padding: 20px;
      min-height: 160px;
      @media screen and (min-width: $screen-md-min) {
        display: flex;
        align-items: center;
        padding: 30px;
        margin-bottom: 40px;
      }
      @media screen and (min-width: $screen-xmd-min) {
        margin-bottom: 50px;
        padding: 30px 78px;
      }
      @media screen and (min-width: $screen-lg-min) {
        padding: 33px 95px;
      }

      &-num {
        font-size: 80px;
        font-family: 'PF Regal Display Pro Bold';
        font-weight: 600;
        color: #E2DBD1;
        position: absolute;
        right: 20px;
        top: 30px;
        line-height: 1;
        letter-spacing: -0.07em;
        @media screen and (min-width: $screen-md-min) {
          //font-size: 70px;
          right: auto;
          left: -60px;
          font-size: 110px;
          line-height: 0;
        }
        @media screen and (min-width: $screen-xmd-min) {
          font-size: 140px;
        }
      }

      &-img {
        margin-bottom: 20px;
        @media screen and (min-width: $screen-md-min) {
          margin-bottom: 0;
        }
      }

      &-desc {
        font-size: 22px;
        line-height: 1.54;
        width: 100%;
        @media screen and (min-width: $screen-md-min) {
          margin-left: 65px;
          width: calc(100% - 150px);
        }
        a {
          color: $black;
          border-bottom: 2px solid $base-color-main;
        }
      }

      &--dark {
        background-color: $base-color-main;
      }
    }
  }

  &-orders {
    margin: 40px auto 0;
    @media screen and (min-width: $screen-md-min) {
      margin: 100px auto;
    }
    @media screen and (min-width: $screen-xmd-min) {
      margin: 200px auto;
    }

    &-ico {
      position: absolute;
      top: -40px;
      left: -50%;
      z-index: -1;
    }

    &-img {
      margin-bottom: -90px;
      @media screen and (min-width: $screen-md-min) {
        position: absolute;
        right: -10%;
        bottom: -21%;
        max-width: 71%;
        margin-bottom: 0;
      }
      @media screen and (min-width: $screen-lg-min) {
        right: -1%;
        bottom: -21%;
        max-width: inherit;
      }
    }
  }
}

.mainContact {
  padding: 40px 0;
  position: relative;
  background:
    //url("../images/contactImg.png") no-repeat left -120px top 140px / 420px auto,
    url("../images/map.svg") no-repeat center top 50px / 90% auto,
    url("../images/contactBack.jpg") no-repeat center top / cover, #FFFCF9;
  //background-blend-mode: multiply;

  @media screen and (min-width: $screen-md-min) {
    padding: 80px 0;
  }
  @media screen and (min-width: $screen-xmd-min) {
    padding: 120px 0;
  }

  &-img {
    position: absolute;
    left: -120px;
    top: 140px;
    img {
      max-width: 420px;
    }
  }

  h2 {
    margin-top: 0;
    margin-bottom: 40px;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 60px;
    }
  }
  .text__md {
    font-size: 18px;
  }


  p {
    line-height: 1.55555;
    margin-bottom: 20px;
    a {
      color: $black;
    }
  }

  h4 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  &-list {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    @media screen and (min-width: $screen-md-min) {
      margin-top: 60px;
      overflow-x: visible;
    }

    &__item {
      min-width: 190px;
      margin-right: 35px;
      margin-bottom: 20px;
      @media screen and (min-width: $screen-md-min) {
        width: 30%;
        margin-bottom: 0;
        margin-right: 0;
      }

      p {
        margin-bottom: 8px;
      }
      .text__sm {
        margin-top: 20px;
      }
      &-img {
        display: inline-block;
        position: relative;
        @media screen and (min-width: $screen-md-min) {
          margin-bottom: 30px;
        }
        @media screen and (min-width: $screen-xmd-min) {
          margin-bottom: 45px;
        }

        img {
          position: relative;
          z-index: 1;
        }

        &:after {
          content: '';
          position: absolute;
          left: -12px;
          top: 12px;
          height: 100%;
          width: 100%;
          border: 1px solid $base-color-main;
          z-index: 0;
        }
      }

      .text--uppercase {
        font-family: 'Museo Sans Cyrl 300';
        font-size: 12px;
        line-height: 1.58888;
        letter-spacing: 0.2em;
        text-transform: uppercase;
      }
    }
  }

  &-info {
    position: relative;
    @media screen and (min-width: $screen-md-min) {
      margin-top: 70px;
    }
    @media screen and (min-width: $screen-xmd-min) {
      margin-top: 110px;
      left: 4%;
    }

    h2 {
      margin-top: 0;
      position: relative;
      margin-bottom: 0;
      z-index: 1;
      line-height: 1.1;
    }

    p {
      margin-top: 20px;
      margin-bottom: 30px;
      position: relative;
      @media screen and (min-width: $screen-xmd-min) {
        margin-bottom: 50px;
      }
    }

    img {
      position: absolute;
      top: -40px;
      left: -100px;
      z-index: 0;
    }
  }
}

.compos {
  margin-top: 40px;

  &__item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    //justify-content: space-between;
    h4 {
      margin-top: 0;
    }

    &-img {
      //width: 200px;
      margin-right: 10px;
      width: 90px;
      @media screen and (min-width: $screen-md-min) {
        width: 120px;
      }
      @media screen and (min-width: $screen-xmd-min) {
        width: auto;
        margin-right: 35px;
      }
    }

    &-desc {
      width: calc(100% - 100px);
      @media screen and (min-width: $screen-md-min) {
        width: calc(100% - 200px);
      }
    }
  }
}

.products {
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: 100%;
    padding: 0 10px;
    text-align: center;
    margin-bottom: 30px;
    @media screen and (min-width: $screen-md-min) {
      width: 50%;
    }
    @media screen and (min-width: $screen-xmd-min) {
      width: calc(100% / 3);
      margin-bottom: 60px;
    }
    @media screen and (min-width: $screen-lg-min) {
      width: 25%;
    }

    &-title {
      margin-top: 10px;
      line-height: 1.1875;
      margin-bottom: 10px;
      @media screen and (min-width: $screen-md-min) {
        margin-top: 20px;
      }
    }

    &-img {
      height: 270px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &:before,
      &:after {
        content: '';
        left: -10px;
        top: 0;
        bottom: 0;
        width: 1px;
        position: absolute;
        background-color: #E8E8E8;
      }

      &:before {
        left: auto;
        right: -11px;
      }
    }

    &-price {
      font-size: 20px;
      margin-bottom: 20px;
      line-height: 1.2;
    }

    &-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .btn {
        margin-right: 20px;
        color: $black;
      }
    }
  }
}

.presentsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    width: 100%;
    max-width: 345px;
    position: relative;
    border: 8px solid $base-color-light;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    @media screen and (min-width: $screen-md-min) {
      width: 46%;
    }
    @media screen and (min-width: $screen-xmd-min) {
      padding: 55px 35px;
      width: 33%;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    &-num {
      color: $base-color-dark;
      font-weight: bold;
      font-family: 'PF Regal Display Pro Bold';
      font-size: 40px;
      background-color: white;
      line-height: 1;
      padding: 25px;
      position: absolute;
      top: -12%;
      left: -12%;
      @media screen and (min-width: $screen-md-min) {
        top: -10%;
        padding: 5px 15px;
        font-size: $font-size-h1;
      }
    }

    &-img {
      margin-bottom: 50px;
    }

    &-title {

    }

    &-desc {
      line-height: 1.5;
    }
  }
}

.range-templating {
  position: relative;
  cursor: pointer;
  line-height: 48px;
  z-index: 1;
  width: auto;
  @media screen and (min-width: $screen-md-min) {
    width: 140px;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  .noUi-horizontal {
    height: 4px;

    .noUi-connect {
      background-color: $base-color-main;
    }

    .noUi-connects {
      margin-top: 35px;
      background-color: $base-color-light;
      border-radius: 5px;
    }

    .noUi-handle {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: none;
      top: -12px;
      background: $base-color-main;
      box-shadow: 0px 2px 12px rgba(212, 175, 129, 0.7);

      &:after,
      &:before {
        display: none;
      }
    }
  }

  #range {
    display: none;
  }

  &-title {
    font-size: 12px;
    text-transform: uppercase;
    padding-right: 15px;
    background: url("../images/icons/orderDown.svg") no-repeat center right 8px;
    @media screen and (min-width: $screen-md-min) {
      padding-right: 11px;
      font-size: 14px;
      letter-spacing: 0.2em;
    }
  }

  .control--border {
    border: 1px solid #D0D0D0;
    border-radius: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
  }

  &.active {
    background-color: white;

    .range-templating-title {
      background: url("../images/icons/orderUp.svg") no-repeat center right 8px;
    }

    #range {
      display: block;
    }

    &:after {
      content: '';
      background-color: white;
      position: absolute;
      width: 300px;
      left: -30vw;
      top: -20px;
      bottom: -120px;
      box-shadow: 8px 10px 50px rgba(171, 142, 126, 0.27);
      @media screen and (min-width: $screen-md-min) {
        left: -30px;
      }
    }
  }

  .noUi-target {
    width: 240px;
    position: absolute;
    background: transparent;

    border: none;
    box-shadow: none;

    @media screen and (max-width: $screen-sm-max) {
      left: -23vw;
    }
  }
}
