.search {
  padding: 80px 0 40px;
  @media screen and (min-width: $screen-md-min) {
    padding: 112px 0 90px;
  }

  h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    @media screen and (min-width: $screen-md-min) {
      margin-top: 50px;
      margin-bottom: 50px;
    }
    @media screen and (min-width: $screen-lg-min) {
      margin-top: 80px;
      margin-bottom: 80px;
    }
  }
  .search__input {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    @media screen and (min-width: $screen-md-min) {
      margin-top: 60px;
      margin-bottom: 60px;
    }
    .control {
      border: 1px solid #D0D0D0;
      border-radius: 50px;
      height: 70px;
      padding: 10px 65px 10px 30px;
    }
    button {
      width: 56px;
      height: 56px;
      border: 1px solid $base-color-main;
      border-radius: 50px;
      position: absolute;
      background-color: white;
      right: 7px;
      top: 0;
      bottom: 0;
      margin: auto;
      cursor: pointer;
      transition: background-color .5s;
      &:hover {
        background-color: $base-color-main;
      }
    }
  }
}

.linkInner {
  padding: 0 20px;
  @media screen and (min-width: $screen-lg-min) {
    padding: 0 50px;
  }
}
