//
// Partials -> Footer
// ------------------------------------

//
// Footer
//

.footer {
  background-color: #FFFCF9;
  .container {
    border-top: 2px solid $base-color-main;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (min-width: $screen-md-min) {
      flex-wrap: nowrap;
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  &__logo {
    width: 100px;
    @media screen and (min-width: $screen-md-min) {
      width: auto;
    }
  }

  &__copy {
    font-size: 14px;
    order: 1;
    text-align: center;
    width: 100%;
    margin-top: 15px;
    @media screen and (min-width: $screen-md-min) {
      order: 0;
      margin-top: 0;
      width: auto;
      text-align: left;
    }
  }

  &__cloud {
    text-align: center;
    width: 100%;
    order: 1;
    @media screen and (min-width: $screen-md-min) {
      order: 0;
      width: auto;
      text-align: left;
    }
  }


  &__social {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    @media screen and (min-width: $screen-md-min) {
      margin-top: 0;
      margin-bottom: 0;
    }
    li {
      margin: 0 5px;
    }
    a {
      height: 50px;
      width: 50px;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      color: $base-color-dark;
      border: 1px solid $base-color-dark;
      transition: background-color .5s, box-shadow .5s;
      &:hover {
        color: white;
        background-color: $base-color-dark;
        box-shadow: 0px 5px 14px rgba(84, 48, 24, 0.6);
      }
    }
  }
}
