//
// Partials -> Header
// ------------------------------------

//
// Header
//
.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  z-index: 3;
  justify-content: space-between;
  padding: 20px;
  position: absolute;
  left: 0;
  right: 0;
  transition: all .5s;
  &.active {
    background-color: #F6F3EF;
  }
  &.fixed {
    background-color: #F7F3EF;
    position: fixed;
    top: 0;
    z-index: 1059;
  }
  @media screen and (min-width: $screen-lg-min) {
    padding: 20px 50px;
  }

  &__phone {
    font-family: 'Museo Sans Cyrl 500';
    font-weight: 500;
    font-size: 19px;
    line-height: 1.1;
    margin: 30px 0;
    @media screen and (min-width: $screen-md-min) {
      margin: 0;
    }
    @media screen and (min-width: $screen-lg-min) {
      font-size: 22px;
    }
  }

  &__menu {
    text-align: center;
    margin: 0;
    @media screen and (min-width: $screen-md-min) {
      text-align: left;
      display: flex;
      align-items: center;
    }
    &-el {
      padding: 10px;
      line-height: 1.2;
      @media screen and (min-width: $screen-md-min) {
        padding: 0;
        margin-right: 10px;
      }
      @media screen and (min-width: $screen-lg-min) {
        margin-right: 20px;
      }
      @media screen and (min-width: $screen-xl-min) {
        margin-right: 40px;
      }
    }
  }

  &__search {
    transition: color .5s;
    font-size: 24px;
    color: $base-color-dark;
    &:hover {
      color: $base-color-main;
    }
    &.search--js {
      @media screen and (min-width: $screen-md-min) {
        display: block !important;
      }
    }
    &.search--close {
      cursor: pointer;
      display: none;
      @media screen and (min-width: $screen-md-min) {
        display: none !important;
      }
    }
  }

  &__btn {
    text-align: center;
    width: 100%;
    @media screen and (min-width: $screen-md-min) {
      text-align: right;
    }
    @media screen and (min-width: 1100px) {
      text-align: left;
      width: auto;
    }
  }

  &__logo {
    width: 100px;
    @media screen and (min-width: $screen-xmd-min) {
      width: auto;
    }
  }
}

.searchBar {
  width: 100%;
  left: 0;
  right: 0;
  top: -200px;
  z-index: 999;
  position: fixed;
  background-color: white;
  padding: 80px 0 40px;
  transition: top .5s;
  @media screen and (min-width: $screen-md-min) {
    padding: 70px 0;
  }
  a, button {
    outline: none;
    border: none;
    background-color: white;
    cursor: pointer;
    i {
      transition: color .5s;
      font-size: 24px;
      color: $base-color-dark;
    }
    &:hover i {
      color: $base-color-main;
    }
  }
  &__input {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    .float-container {
      width: 100%;
    }
  }
  &__close {
    position: absolute;
    top: 10px;
    height: 42px;
    margin: auto;
    cursor: pointer;
    right: 15px;
    display: none;
    @media screen and (min-width: $screen-md-min) {
      display: block;
    }
    @media screen and (min-width: $screen-lg-min) {
      right: 35px;
      top: 0;
      bottom: 0;
    }
  }
  &.active {
    top: 0;
    + .header {
      z-index: 1000;
      @media screen and (min-width: $screen-md-min) {
        z-index: 3;
      }
    }
  }
}


//
// old-browser
//
.browsehappy {
  @extend .container;
}
.lt-ie8 {
}
