.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background: white;
  opacity: 1;
  transition: opacity 0.8s;
  &.hidden {
    opacity: 0;
  }
}
