//
// Partials -> Main
// ------------------------------------

.relative {
  position: relative;
}

.wrapper {
  overflow: hidden;
}

body {
  &:before {
    transition: background-color .5s;
  }
  &.fixed {
    overflow: hidden;

    &:before {
      content: '';
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      position: fixed;
      z-index: 998;
      background-color: rgba(black, 0.2);
    }
  }
}

.index {
  overflow: hidden;
}

.hideBlock {
  display: none;
}

.textIcon {
  display: flex;
  align-items: center;
  * + * {
    margin-left: 10px;
  }
  &--lg {
    align-items: baseline;
    * + * {
      margin-left: 25px;
    }
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  @media screen and (min-width: $screen-md-min) {
    margin-bottom: 30px;
    flex-wrap: nowrap;
  }
  @media screen and (min-width: $screen-xmd-min) {
    margin-bottom: 60px;
  }
  > * {
    margin: 10px 0;
    width: 100%;
    @media screen and (min-width: $screen-md-min) {
      margin: 0;
      width: auto;
    }
  }
}

.filtering {
  display: none;
  color: $gray-darken-2;
  margin-bottom: 20px;
  @media screen and (min-width: $screen-md-min) {
    display: flex;
    margin-bottom: 60px;
    margin-top: 40px;
  }
  > * {
    margin-left: 10px;
  }
  &-el {
    color: $black;
    cursor: pointer;
    &:hover,
    &.active {
      color: $base-color-main;
    }
  }
}
.orders {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  text-transform: uppercase;
  justify-content: space-between;
  width: 100%;
  border-top: 10px solid transparent;
  position: relative;
  z-index: 8;
  &-el {
    position: relative;
    width: 31%;
    @media screen and (min-width: $screen-md-min) {
      margin-left: 10px;
      width: auto;
    }
    @media screen and (min-width: $screen-lg-min) {
      margin-left: 30px;
    }
    &.current {
      + .select2-container--open {
        left: auto !important;
        right: -55px;
        @media screen and (min-width: $screen-md-min) {
          right: 71%;
        }
        @media screen and (min-width: $screen-lg-min) {
          right: 58%;
        }
      }
    }
    &:first-child {
      .templating.select2-selection--multiple .select2-selection__rendered:after {
        right: auto;
        left: 66%;
      }
    }
    &:last-child {
      .templating.select2-selection--multiple .select2-selection__rendered:after {
        right: auto;
        left: 77%;
      }
    }
  }
  &:before {
    content: '';
    position: absolute;
    height: 10px;
    top: -10px;
    left: -20px;
    right: -20px;
    background-color: white;
    @media screen and (min-width: $screen-md-min) {
      display: none;
    }
  }
  @media screen and (min-width: $screen-md-min) {
    width: auto;
    font-size: 14px;
    flex-wrap: nowrap;
    letter-spacing: 0.2em;
    justify-content: flex-start;
    border-top: none;
  }
  @media screen and (min-width: $screen-lg-min) {
    letter-spacing: 0.2em;
  }

  .templating {
    &.select2-selection--multiple {
      font-size: 12px !important;
      @media screen and (min-width: $screen-md-min) {
        font-size: 14px !important;
      }
      .select2-selection__rendered {
        position: relative;
        &.active {
          &:before {
            content: ' ...';
            font-size: 14px;
            line-height: 22px;
            color: $black;
            position: absolute;
            right: 11px;
            top: 0;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            background-color: $base-color-light;
          }
        }
        &:after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          line-height: 22px;
          //margin: auto;
          display: block;
          width: 11px !important;
          right: 0 !important;
          background: url("../images/icons/orderDown.svg") no-repeat center, $base-color-light;
        }
      }
    }
  }

  .select2-container--open .templating {
    .select2-search--inline:after {
      //background: url("../images/icons/orderUp.svg") no-repeat center;
    }
    .select2-selection__rendered {
      &.active {
        &:before {
          background-color: white;
        }
      }
      &:after {
        background: url("../images/icons/orderUp.svg") no-repeat center, white;
      }
    }
  }

  .select2.select2-container--open {
    position: relative;
    z-index: 1053;
  }

  .select2-container {
    @media screen and (max-width: $screen-sm-max) {
      width: 100% !important;
    }
  }
}

.selecting {
  width: 270px;
  align-items: center;
  justify-content: space-between;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  //opacity: 0;
  display: flex;
  //position: absolute;
  //z-index: 99999;
  //left: 0;
  //top: 45px;
  div {
    cursor: pointer;
    border-bottom: 1px dashed $base-color-main;
    transition: border-color .5s;
    &:hover {
      border-color: transparent;
    }
  }
}
.select2-container--open + .selecting {
  opacity: 1;
}

.sorting {
  margin-top: 10px;
  margin-bottom: 25px;
  color: $gray-darken-2;
  display: flex;
  align-items: center;
  @media screen and (min-width: $screen-md-min) {
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .select2 {
    margin-left: 10px;
    @media screen and (max-width: $screen-sm-max) {
      width: auto !important;
    }
    .select2-selection__rendered span {
      transition: color .5s;
    }
    .select2-selection__rendered:hover span {
      color: $base-color-main !important;
    }
    .select2-selection--single .select2-selection__rendered {
      line-height: 22px !important;
    }
    &.select2-container--open {
      position: relative;
      z-index: 1053;
    }

  }
}

.showContent {
  max-height: 370px;
  overflow: hidden;
  font-size: 18px;
  line-height: 1.555;
  position: relative;
  transition: max-height .5s;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80%;
    background: linear-gradient(0deg, rgba(255,255,255,1) 19%, rgba(0,0,0,0) 100%);
  }
  &.active {
    max-height: 1000px;
    &:after {
      display: none;
    }
  }
}
.showText {
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: $base-color-main;
}

.badgeBody {
  margin-top: 40px;
  @media screen and (min-width: $screen-md-min) {
    margin-top: 0;
    display: flex;
    .badgeNew + * {
      margin-left: 24px;
    }
  }
}

.showMore {
  width: 100%;
  cursor: pointer;
  text-align: center;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color .5s, box-shadow .5s;
  @media screen and (min-width: $screen-md-min) {
    border: 1px solid $gray-lighten;
    height: 100px;
  }
  &:hover {
    border-color: transparent;
    box-shadow: 8px 10px 50px rgba(171, 142, 126, 0.27);
  }

  .textIcon {
    font-size: 14px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    span {
      line-height: 15px;
    }
  }


  &-body {
    position: relative;
    .filtering {
      position: absolute;
      right: 40px;
      top: 0;
      bottom: 0;
      height: 23px;
      margin: auto;
      z-index: 999;
      display: none;
      @media screen and (min-width: $screen-md-min) {
        display: flex;
      }
    }
  }
}

.badgeNew {
  font-family: $base-font-family-serif;
  color: $base-color-main;
  letter-spacing: 0.195em;
  text-transform: uppercase;
  font-weight: bold;
}


.link {
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  line-height: 1.15;
  padding-bottom: 5px;
  display: inline-block;
  color: $black;
  //border-bottom: 2px solid #E5E5E5;
  &:hover {
    color: $black;
  }
}
