extends ../layouts/master.pug

block pageName
  - var pageName = "index"

block header
  include ../partials/_header

block content
  section.cardBack
    .container
      a.textIcon(href='index.html')
        +img('icons/prev.svg')
        span.text__sm Вернуться в каталог
      .card
        .card__left(data-aos="fade-up")
          .slick-prev.slick-prev--ca: i.icon-left-arrow
          .slick-next.slick-next--ca: i.icon-right-arrow
          .slider-for
            - for (let x = 1; x < 7; x++)
              div: +img('card/card.png')
          .slider-navi
            .slider-navi__item: +img('card/card1.jpg')
            .slider-navi__item: +img('card/card2.jpg')
            .slider-navi__item: +img('card/card3.jpg')
            .slider-navi__item: +img('card/card4.jpg')
            .slider-navi__item: +img('card/card1.jpg')
            .slider-navi__item: +img('card/card2.jpg')
        .card__right(data-aos="fade-up")
          div
            p.text--grey Подарочный набор
            h3 Внимательность
            .card-price 670 ₽
          h4 Понравился подарок?
          p Оставьте заявку. Мы с вами свяжемся #[br] и договримся, куда отправить пробники.
          a.btn.btn--primary.popup-modal.popup-with-zoom-anim(href='#call'): span Оставить заявку на образец
          h4 Чтобы рассчитать сроки сборки #[br] и примерную стоимость, можете #[br] использовать наш калькулятор
          a.btn.btn--outlined.popup-modal.popup-with-zoom-anim(href='#card')
            i.sprite--calc
            span Рассчитать стоимость партии подарков
  .container
    section.cardComposition
      .cardComposition__left(data-aos="fade-up")
        h3 Состав набора
        ul.list--bullet(data-aos="fade-up")
          li Конфеты шоколадные ассорти, Италия / 6 унций
          li Прозрачный пакет с золотым донышком
          li 1 сорт чая / 1 унция в емкости
          li Тростниковый сахар / 100 гр.
          li Коробка «Классика»
      .cardComposition__right(data-aos="fade-up")
        h3 Забрендировано в наборе
        ul.list--bullet(data-aos="fade-up")
          li Открытка с поздравлением
          li Упаковочная лента
          li Кружка
    section.mainCatalog
      .title(data-aos="fade-up")
        h3 Подарки, которые могут вам понравиться
        .slider-nav.hidden__sm.hidden__xs
          .slick-prev.slick-prev--ct: i.sprite--prev
          .slick-next.slick-next--ct: i.sprite--next
      .catalogSlider--js(data-aos="fade-up")
        +products(products)
    section.cardOrder
      .cardOrder__left(data-aos="fade-up")
        h3 Соберем под ваш бюджет
        p.text__lg У вас ограничен бюджет и нужно собрать фиксированное число подарков?
        p.text__lg Оставьте заявку и мы подберем оптимальную комплектацию и количество подарков под ваш бюджет.
        a.btn.btn--primary.popup-modal.popup-with-zoom-anim(href='#call'): span Оставить заявку на подбор
      .cardOrder__right(data-aos="fade-up")
        +img('card/order.jpg')
block footer
  include ../partials/_footer
