extends ../layouts/master.pug

block pageName
  - var pageName = "index"

block header
  include ../partials/_header

block content
  section.mainSlider
    .linkInner
      a.textIcon(href='https://www.chay.info/', target='_blank')
        +img('icons/prev.svg')
        span.text__sm На основной сайт
    .mainSlider-img.rellax: +img('leaf.png')
    .mainSlider-nav
      .slick-prev.slick-prev--ma
      .slick-next.slick-next--ma
    .container.relative
      .col.col__lg-6.col__md-5.col__xs-12.indexDesc(data-aos="fade-up", data-aos-delay='500')
        h1 Корпоративные подарки
        .textIcon.textIcon--lg
          +img('icons/go-go.svg')
          p.text__lg для ваших партнеров, #[br] клиентов и сотрудников
        a.btn.btn--primary.popup-modal.popup-with-zoom-anim(href='#call'): span Оставить заявку на подбор
        .hidden__xs.hidden__sm
          .badgeBody
            .badgeNew New!
            div
              p.text__lg Новая коллекция подарков #[br] к Новому году
              a.link.hoverLineMoved(href='#'): span скачать каталог
    .mainSlider--js.relative
      - for (let x = 1; x < 6; x++)
        div
          .col.col__md-6.col__xs-12.mainSliderItem
            .mainSliderImg
              +img('sliderImg1.png')
              .additionalImg
                +img('sliderImg2.png')
                +img('sliderImg3.png')
                +img('sliderImg4.png')
              .badge хиты продаж топ-10
            .mainSliderText
              p.text__xs.text--grey ПОДАРОЧНЫЙ НАБОР
              p.text__lg Для хорошего вкуса
              a.link.hoverLineMoved(href='card.html'): span подробнее о подарке
              .visible__xs.visible__sm
                .badgeBody
                  .badgeNew New!
                  div
                    p.text__lg Новая коллекция подарков #[br] к Новому году
                    a.link.hoverLineMoved(href='#'): span скачать каталог
  .container
    section.mainCatalog
      .title(data-aos="fade-up")
        h2 Наши каталоги
        .slider-nav.hidden__xs.hidden__sm
          .slick-prev.slick-prev--ct: i.sprite--prev
          .slick-next.slick-next--ct: i.sprite--next
      .catalogSlider--js(data-aos="fade-up")
        - for (let x = 1; x < 3; x++)
          .mainCatalog__item
            +img('catalog-1.jpg')
            .mainCatalog__item-desc
              p Новый год 2020
              a.link(href='#') Скачать
          .mainCatalog__item
            +img('catalog-2.jpg')
            .mainCatalog__item-desc
              p Профессиональные праздники 2019
              a.link(href='#') Скачать
          .mainCatalog__item
            +img('catalog-3.jpg')
            .mainCatalog__item-desc
              p 23 февраля 2019
              a.link(href='#') Скачать
          .mainCatalog__item
            +img('catalog-4.jpg')
            .mainCatalog__item-desc
              p 8 марта 2019
              a.link(href='#') Скачать
    section.mainProduct#products(data-aos="fade-up")
      h2(data-aos="fade-up") Наши подарки
      .tabs
        .tabs-list
          a.tab.active(href='#stage1') 8 марта
          a.tab(href='#stage2') 23 февраля
          a.tab(href='#stage3') новый год
          .orders.orders--js
            .orders-el
              select.select-templating(style='width: 110px', data-placeholder="повод", multiple)
                option
                option(value='1') На день нефтянника
                option(value='2') На 8-ое марта
                option(value='3') на новый год
                option(value='4') на юбилей компании
                option(value='5') на 23 февраля
                option(value='6') на день строителя
                option(value='7') на день медика
            .orders-el
              .range-templating
                .range-templating-title стоимость
                #range
                  .input-group
                    input.control.control--border#skip-value-lower(type='text')
                    span —
                    input.control.control--border#skip-value-upper(type='text')
            .orders-el
              select.select-templating(style='width: 130px', data-placeholder="упаковка", multiple)
                option
                option(value='1') корзина
                option(value='2') коробка
                option(value='3') сундук
                option(value='4') пакет
        #stage1.tabs-content.show
          .moreDetail--js
            .row.between__xs.middle__xs
              .sorting.col
                span Сортировать:
                select.select-templating--nx(style='width: 200px')
                  option(value='icon-select-up') Сначала дорогие
                  option(value='icon-select-down') Сначала дешевые
              .filtering.filtering--js.col
                span Показывать:
                .filtering-el(data-count='10').active 10
                .filtering-el(data-count='50') 50
                .filtering-el(data-count='all') Все
            .products(data-aos="fade-up")
              +products(products)
              +productsHidden(products)
            .showMore-body(data-aos="fade-up")
              .showMore.showMore--js
                .textIcon
                  i.sprite--plus
                  span Показать еще
              .filtering.filtering--js
                span Показывать:
                .filtering-el(data-count='10').active 10
                .filtering-el(data-count='50') 50
                .filtering-el(data-count='all') Все
        #stage2.tabs-content
          .moreDetail--js
            .row.between__xs.middle__xs
              .sorting.col
                span Сортировать:
                select.select-templating--nx(style='width: 200px')
                  option(value='icon-select-up') Сначала дорогие
                  option(value='icon-select-down') Сначала дешевые
              .filtering.filtering--js.col
                span Показывать:
                .filtering-el(data-count='10').active 10
                .filtering-el(data-count='50') 50
                .filtering-el(data-count='all') Все
            .products(data-aos="fade-up")
              +products(products)
        #stage3.tabs-content
          .moreDetail--js
            .row.between__xs.middle__xs
              .sorting.col
                span Сортировать:
                select.select-templating--nx(style='width: 200px')
                  option(value='icon-select-up') Сначала дорогие
                  option(value='icon-select-down') Сначала дешевые
              .filtering.filtering--js.col
                span Показывать:
                .filtering-el(data-count='10').active 10
                .filtering-el(data-count='50') 50
                .filtering-el(data-count='all') Все
            .products(data-aos="fade-up")
              +products(products)
    section.mainPresents
      .row
        .col.col__lg-5.col__md-6.col__xs-12(data-aos="fade-up")
          h2 Корпоративные #[br] подарки
          .showContent
            p В&nbsp;предпраздничные дни часы летят так быстро и&nbsp;незаметно, что подготовиться, порой, совсем не&nbsp;хватает времени. Тем не&nbsp;менее, успеть нужно многое: продумать угощения на&nbsp;стол и&nbsp;наряд, купить корпоративные подарки и&nbsp;сувениры близким, устроить незабываемый отдых для себя и&nbsp;родных. Предпраздничная суета&nbsp;&mdash; дело приятное, но&nbsp;и&nbsp;достаточно трудоемкое. И&nbsp;если с&nbsp;выбором сюрприза для родственников и&nbsp;близких дела обстоят более-менее хорошо, то&nbsp;порадовать сотрудников, коллег или партнеров сможет не&nbsp;каждый. Конечно, угодить всем коллегам&nbsp;&mdash; задача не&nbsp;из&nbsp;легких. Но&nbsp;интересные идеи корпоративных подарков можно почерпнуть у&nbsp;знакомых, которые уже не&nbsp;раз занимались подготовкой к&nbsp;празднику на&nbsp;работе, в&nbsp;Интернете или попробовать вспомнить, что дарили когда-то именно вам. Возможно, то, что всплывет в&nbsp;памяти, будет удачным презентом именно в&nbsp;вашей фирме сейчас. Чай и&nbsp;кофе, сладости и&nbsp;выпечка, алкоголь, напитки, открытки или небольшие сувениры&nbsp;&mdash; корпоративные подарки сотрудникам могут быть совершенно незатейливые. Самое главное&nbsp;&mdash; проявить внимание к&nbsp;одариваемому человеку.
          .showText.showText--js раскрыть
        .col.col__lg-8.col__md-6.col__xs-12.hidden__sm.hidden__xs
          .mainPresents-img.rellax(data-aos="fade-up"): +img('presents.png')
      .presentsList
        .presentsList__item(data-aos="fade-up")
          .presentsList__item-num 01
          .presentsList__item-img: +img('list-1.svg')
          .presentsList__item-title: h4 Доставка бесплатно
          .presentsList__item-desc Доставка в&nbsp;Санкт-Петербурге и&nbsp;Москве бесплано. В&nbsp;регионы доставка бесплатна при заказе от&nbsp;70 000 ₽.
        .presentsList__item(data-aos="fade-up")
          .presentsList__item-num 02
          .presentsList__item-img: +img('list-2.svg')
          .presentsList__item-title: h4 Cоберем за день
          .presentsList__item-desc В&nbsp;некоторых случаях заказ может быть у&nbsp;вас уже завтра! Чаще на это уходит 3-4 дня #[br] в&nbsp;зависимости от количества, состава, нанесения логотипа.
        .presentsList__item(data-aos="fade-up")
          .presentsList__item-num 03
          .presentsList__item-img: +img('list-3.svg')
          .presentsList__item-title: h4 Создадим дизайн открытки с&nbsp;логотипом вашей компании
          .presentsList__item-desc Бесплатно разработаем логотип и&nbsp;фирменный стиль под&nbsp;нанесением на&nbsp;подарок.
  section.mainForm
    .mainFormImg.rellax(data-aos="fade-up"): +img('formImg.png')
    .container
      .col__xl-10.centered-block
        form(method='POST', action='', data-aos="fade-up")
          .text--center(data-aos="fade-up")
            h2 Закажите подарок
            hr
          .row(data-aos="fade-up")
            .col.col__md-6.col__xs-12
              .form__group: +fieldInput('text', 'name', '', 'Ваше имя', false)
              .form__group: +fieldInput('text', 'phone', '', 'Ваш телефон', true)
              .form__group: +fieldTextarea('desc', '', 'Описание заказа', '5', false)
            .col.col__md-6.col__xs-12
              .form__group: +fieldInput('email', 'email', '', 'Почта', false)
              .form__group
                .radio.radio--custom
                  .radio--custom-el
                    input(type='radio', name='logos', id='logo1', checked)
                    label(for='logo1') без логотипа
                  .radio--custom-el
                    input(type='radio', name='logos', id='logo2')
                    label(for='logo2') с логотипом
              .row.form__group.middle__xs.form__group--sm
                .text__lg.col Количество подарков
                .input__body.col
                  .input__quantity.input__quantity-js
                    .inc: +img('icons/minus.svg')
                    input.input__number-js(type='text', value='1')
                    .dec: +img('icons/plus.svg')
              button.form__group.btn.btn--full.btn--outlined(href='#'): span Оставить заявку на подбор
              +fieldCheckbox('sign', '#[span Согласен на обработку персональных данных в соответствии с #[a(href) политикой конфиденциальности]]', false)
  section.mainDesign#howto
    .container
      .title(data-aos="fade-up")
        h2.paroller Создайте индивидуальные #[br] подарки. Выберите:
        img.rellax(src='assets/images/boxes.svg')
      .tabs.tabs--main
        .tabs-list(data-aos="fade-up")
          a.tab.active(href='#tab1') Упаковку
          a.tab(href='#tab2') Состав
          a.tab(href='#tab3') Куда нанести логотип
          .line
        #tab1.tabs-content.show(data-aos="fade-up")
          .tabs
            .tabs-list
              a.tab.active(href='#package1'): span Пленка
              a.tab(href='#package2'): span Емкость
              a.tab(href='#package3'): span Поддоны
              a.tab(href='#package4'): span Подарочный пакет
              a.tab(href='#package5'): span Коробка
              a.tab(href='#package6'): span Корзины
              a.tab(href='#package7'): span Чайный торт
              a.tab(href='#package8'): span Букет
            .tabs-content.show(id='package1')
              .row.between__xs
                .col.col__md-6.col__xs-12
                  .mainDesign-slider.designSlider--js
                    - for (let y = 1; y < 5; y++)
                      div: +img('package.jpg')
                .col.col__lg-5.col__md-6.col__xs-12
                  .mainDesign-desc
                    h4 Пакет с донышком в пленке - #[br] отличное решение #[br] для небольших комплиментов
                    .price
                      div: +img('coins.svg')
                      div
                        p Бюджет на один подарок:
                        p до #[span 670 ₽]
                    .col__lg-6.col__md-7: a.btn--full.btn.btn--outlined(href='#'): span мне подходит
            - for (let x = 2; x < 9; x++)
              .tabs-content(id='package'+x)
                .row.between__xs
                  .col.col__md-6.col__xs-12
                    .mainDesign-slider.designSlider--js
                      - for (let y = 1; y < 5; y++)
                        div: +img('package.jpg')
                  .col.col__lg-5.col__md-6.col__xs-12
                    .mainDesign-desc
                      h4 Пакет с донышком в пленке - #[br] отличное решение #[br] для небольших комплиментов
                      .price
                        div: +img('coins.svg')
                        div
                          p Бюджет на один подарок:
                          p до #[span 670 ₽]
                      .col__lg-6.col__md-7: a.btn--full.btn.btn--outlined(href='#'): span мне подходит
        #tab2.tabs-content(data-aos="fade-up")
          blockquote
            .row.around__xs
              .col.col__lg-5.col__md-6.col__xs-12
                h4 При формировании подарков #[br] вы можете заменить любую позицию, #[br] если она вам не подходит.
              .col.col__lg-5.col__md-6.col__xs-12
                p Все подарки формируются на основнаии нашего ассортимена из интернет-магазина «Унция».
          .row.compos
            .col.col__md-6.col__xs-12.compos__item
              .compos__item-img
                +img('compos1.svg')
              .compos__item-desc
                h4 Чай
                p.text__sm 240 сортов чая от 100 рублей за унцию (28,35 грамм) из ассортимента магазинов «Унция». Каждый год чай проходит собственные тесты качества и получает высокие оценки. Чай фасуется в крафт пакеты, фольгированные изнутри, что позволяет ему храниться дольше. Пакеты с чаем подписываются вручную красивым почерком.
            .col.col__md-6.col__xs-12.compos__item
              .compos__item-img
                +img('compos3.svg')
              .compos__item-desc
                h4 Чайные и кофейные принадлежности
                p.text__sm Шоколад (в упаковке или колотый), орешки и фрукты в йогурте и шоколаде из Греции. Варенье собственного производства с необычными вкусами. Сладости украшают подарок и являются отличным дополнением к чаю и кофе.
            .col.col__md-6.col__xs-12.compos__item
              .compos__item-img
                +img('compos2.svg')
              .compos__item-desc
                h4 Кофе
                p.text__sm 60 сортов, включая 20 сортов собственной свежей обжарки от 65 рублей за унцию (28,35 грамм). Кофе можем упаковать в зернах или помолоть.
            .col.col__md-6.col__xs-12.compos__item
              .compos__item-img
                +img('compos4.svg')
              .compos__item-desc
                h4 Сладости
                p.text__sm Шоколад (в упаковке или колотый), орешки и фрукты в йогурте и шоколаде из Греции. Варенье собственного производства с необычными вкусами. Сладости украшают подарок и являются отличным дополнением к чаю и кофе.
        #tab3.tabs-content(data-aos="fade-up")
          .tabs
            .tabs-list
              a.tab.active(href='#place1'): span Открытка
              a.tab(href='#place2'): span Рукав на коробку
              a.tab(href='#place3'): span Рукав на емкость
              a.tab(href='#place4'): span Наклейки на пакет с чаем
              a.tab(href='#place5'): span Круглый стикер на сладости
              a.tab(href='#place6'): span Наклейка на крышку коробки
              a.tab(href='#place7'): span Гравировка/деколь посуды
              a.tab(href='#place8'): span Лента
            .tabs-content.show(id='place1')
              .row.between__xs
                .col.col__md-6.col__xs-12
                  .mainDesign-slider.designSlider--js
                    - for (let y = 2; y < 5; y++)
                      div: +img('package.jpg')
                .col.col__lg-5.col__md-6.col__xs-12
                  .mainDesign-desc
                    h4 В зависимости от типа подарка, мы можем сделать большую (например, для корзины) или маленькую (например, для маленькой коробки) открытку.
                    p Стоимость от 8 до 45 рублей (зависит от тиража и размера, так,1000 маленьких открыток будет стоить 8 рублей за штучку, а 10 больших - 50 рублей за штуку).
                    br
                    .col__lg-6.col__md-7: a.btn--full.btn.btn--outlined(href='#'): span мне подходит
            - for (let x = 2; x < 9; x++)
              .tabs-content(id='place' + x)
                .row.between__xs
                  .col.col__md-6.col__xs-12
                    .mainDesign-slider.designSlider--js
                      - for (let y = 2; y < 4; y++)
                        div: +img('package.jpg')
                  .col.col__lg-5.col__md-6.col__xs-12
                    .mainDesign-desc
                      h4 В зависимости от типа подарка, мы можем сделать большую (например, для корзины) или маленькую (например, для маленькой коробки) открытку.
                      p Стоимость от 8 до 45 рублей (зависит от тиража и размера, так,1000 маленьких открыток будет стоить 8 рублей за штучку, а 10 больших - 50 рублей за штуку).
                      br
                      .col__lg-6.col__md-7: a.btn--full.btn.btn--outlined(href='#'): span мне подходит
  section.mainClients
    .row.between__xs
      .col.col__lg-5.col__md-6.col__xs-12.hidden__xs.hidden__sm(data-aos="fade-up")
        .rellax(data-rellax-wrapper='.mainClients'): +img('presents1.jpg')
      .col.col__md-6.col__xs-12.relative(data-aos="fade-up")
        h2 C нами работают
        .mainClients-slider.clientsSlider--js
          - for (let x = 1; x < 3; x++)
            a.popup-modal.popup-with-zoom-anim.mainClients__item(href='#keys')
              .mainClients__item-img: +img('client1.jpg')
              .mainClients__item-desc
                .img: +img('logo1.svg')
                h4 Сбербанк
                span Смотреть кейс
            a.popup-modal.popup-with-zoom-anim.mainClients__item(href='#keys')
              .mainClients__item-img: +img('client2.jpg')
              .mainClients__item-desc
                .img: +img('logo2.svg')
                h4 ВТБ
                span Смотреть кейс
            a.popup-modal.popup-with-zoom-anim.mainClients__item(href='#keys')
              .mainClients__item-img: +img('client2.jpg')
              .mainClients__item-desc
                .img: +img('logo3.svg')
                h4 Ленэнерго
                span Смотреть кейс
        .slider-nav.hidden__sm.hidden__xs
          .slick-prev.slick-prev--cl: +img('icons/prev-bl.svg')
          .slick-next.slick-next--cl: +img('icons/next-bl.svg')
        .progress.hidden__sm.hidden__xs(role="progressbar" aria-valuemin="0" aria-valuemax="100")
          .slider__label.sr-only
  section.mainHowTo
    .mainHowTo-imgLeft.rellax: +img('howToBack1.png')
    .mainHowTo-imgRight.rellax: +img('howToBack2.png')
    .container
      .text--center(data-aos="fade-up")
        h2 Как мы работаем
      .mainHowToList.col__xl-8.col__lg-9.col__md-10
        .mainHowToList__item(data-aos="fade-up")
          .mainHowToList__item-num 01
          .mainHowToList__item-img: +img('howTo1.svg')
          .mainHowToList__item-desc Вы выбираете готовые подарки из каталога или&nbsp;оставляете заявку на разработку индивидуального решения
        .mainHowToList__item(data-aos="fade-up")
          .mainHowToList__item-num 02
          .mainHowToList__item-img: +img('howTo2.svg')
          .mainHowToList__item-desc Связываемся с вами в течение часа. Уточняет детали заказа: повод, количество подарков, бюджет
        .mainHowToList__item(data-aos="fade-up")
          .mainHowToList__item-num 03
          .mainHowToList__item-img: +img('howTo3.svg')
          .mainHowToList__item-desc Отправляем предложение с расчетом стоимости. Обсуждаем детали оформления – цвета, варианты и дизайн брендирования
        .mainHowToList__item(data-aos="fade-up")
          .mainHowToList__item-num 04
          .mainHowToList__item-img: +img('howTo4.svg')
          .mainHowToList__item-desc Отправляем вам счет и после оплаты начинаем сборку подарков
        .mainHowToList__item.mainHowToList__item--dark(data-aos="fade-up")
          .mainHowToList__item-num 05
          .mainHowToList__item-img: +img('howTo5.svg')
          .mainHowToList__item-desc Готовый заказ отправляем вам
      .mainHowTo-orders.col__xl-8.col__lg-9
        .row
          .col.col__md-6.col__xs-12.relative(data-aos="fade-up")
            .mainHowTo-orders-ico: +img('flower.svg')
            h2 Принимаем заказы #[br] от #[span.text--primary 10000 ₽]
          .col.col__md-6.col__xs-12
            .mainHowTo-orders-img(data-aos="fade-up"): +img('presentBig.png')
  section.mainContact
    .mainContact-img.rellax: +img('contactImg.png')
    .container#contacts
      .centered-block.col__xl-8.col__lg-9.col__md-10
        h2(data-aos="fade-up") Работаем #[br] по всей России
        .row.between__xs(data-aos="fade-up")
          .col.col__md-6.col__xs-12
            h4 Москва и Санкт-Петербург
            p.text__md Доставка в Санкт-Петербурге и&nbsp;Москве в&nbsp;пределах КАД и&nbsp;МКАД бесплатна.
            p.text__md Стоимость доставки за пределы КАДа и&nbsp;МКАДа необходимо уточнить у&nbsp;менеджера.
          .col.col__lg-5.col__md-6.col__xs-12
            h4 Россия
            p.text__md Доставка в регионы бесплатно #[br] при заказе от 70 000 ₽.
            p.text__md: b 8 (800) 555-28-35
        .mainContact-list
          .mainContact-list__item(data-aos="fade-up")
            .mainContact-list__item-img: +img('ava1.jpg')
            .mainContact-list__item-desc
              h4 Ирина
              p.text__md: a(href='tel:88124093839') +7 (812) 409-38-39
              p.text__md: a(href='mailto:irina@chay.info') irina@chay.info
              p.text__sm.text--uppercase менеджер по работе с корпоративными клиентами
          .mainContact-list__item(data-aos="fade-up")
            .mainContact-list__item-img: +img('ava2.jpg')
            .mainContact-list__item-desc
              h4 Ирина
              p.text__md: a(href='tel:88124093839') +7 (812) 409-38-39
              p.text__md: a(href='mailto:irina@chay.info') irina@chay.info
              p.text__sm.text--uppercase менеджер по работе с корпоративными клиентами
          .mainContact-list__item(data-aos="fade-up")
            .mainContact-list__item-img: +img('ava1.jpg')
            .mainContact-list__item-desc
              h4 Ирина
              p.text__md: a(href='tel:88124093839') +7 (812) 409-38-39
              p.text__md: a(href='mailto:irina@chay.info') irina@chay.info
              p.text__sm.text--uppercase менеджер по работе с корпоративными клиентами
      .centered-block.col__lg-9
        .row.mainContact-info.between__xs
          .col.col__md-6.col__xs-12.relative(data-aos="fade-up")
            h2 Рекламным #[br] агентствам
            .rellax: +img('lime.svg')
          .col.col__md-6.col__xs-12(data-aos="fade-up")
            p.text__md Если вам интересно развивать направление корпоративных подарков в вашем агентстве, оставьте заявку и мы вышлем условия сотрудничества.
            a.btn.btn--outlined.popup-modal.popup-with-zoom-anim(href='#call'): span Запросить условия сотрудничества

block footer
  include ../partials/_footer
