extends ../layouts/master.pug

block pageName
  - var pageName = "index"

block header
  include ../partials/_header

block content
  section.search
    .container
      h3(data-aos="fade-up") Результаты поиска
      p(data-aos="fade-up") По запросу «подарочный чайный набор» найдено #[b 35 подарков]
      form.search__input(method='POST', data-aos="fade-up")
        +fieldInput('text', 'search', '', '', true, 'Подарочный чайный набор')
        button(type='submit'): +img('icons/search.svg')
      .moreDetail--js
        .products(data-aos="fade-up")
          +products(products)
          +productsHidden(products)
        .showMore-body(data-aos="fade-up")
          .showMore.showMore--js
            .textIcon
              +img('icons/plus.svg')
              span Показать еще

block footer
  include ../partials/_footer
