//- mixins

mixin franciscoLink(text, icon)
  .franciscoItem
    a.franciscoLink(href="#")
      .franciscoHelper
        span= text
        +img(icon)

mixin franciscoBtn(text, icon)
  button.section__bottom__form__button.franciscoItem(type='submit')
    .franciscoHelper
      span= text
      - if(icon)
        +img(icon)

mixin slickPrev()
  .slick-prev.slick-arrow.franciscoItem
    .franciscoHelper
      +img('arrow_left.svg')

mixin slickNext()
  .slick-next.slick-arrow.franciscoItem
    .franciscoHelper
      +img('arrow_right.svg')

//- menu
mixin menu(items)
    ul.header__menu.anchor
        each item in items
            - let parent  = ''
            - if(item.subitems !== false) parent='header__menu-el--parent'
            li.header__menu-el(class=parent)
                a.header__menu__item(href=item.href, title=item.title)= item.title
                - if(item.subitems !== false)
                    .sub-nav
                        ul.sub-nav__inner
                            each subitem in item.subitems
                               li.main-nav__item
                                    a.main-nav__link(href=subitem.href, title=subitem.title)= subitem.title

mixin menuSub(items, page)
    ul.subNav(data-aos="fade-up", data-aos-delay="700")
        each item in items
            - let active  = ''
            - if(page === item.href) active='active'
            li.subNav__item: a.subNav__link(href=item.href + '.html', class=active)
              = item.title
              span

mixin mainTitle(title, breadcrumbs, hasNav)
  - let active  = ''
  - if(hasNav) active='mainTitle--subNav'
  .mainTitle(class=active)
    h1(data-aos="fade-right", data-aos-delay="500")= title
    .breadLink(data-aos="fade-left", data-aos-delay="600")
      - if(breadcrumbs)
        | Главная
      - else
        | Главная /
      - if(breadcrumbs)
        span= breadcrumbs + ' /'

mixin mainTitleH2(title, breadcrumbs)
  .mainTitle
    h2(data-aos="fade-right", data-aos-delay="500")= title
    .breadLink(data-aos="fade-left", data-aos-delay="600")
      - if(breadcrumbs)
        | Главная
      - else
        | Главная /
      - if(breadcrumbs)
        span= breadcrumbs + ' /'


mixin paramItem(label, span, delay)
  .params__input-item(data-aos="fade-up", data-animation-delay=delay)
    label= label
    .input-group
      input.control.control--border(type='number')
      span= span
      input.control.control--border(type='number')

mixin img(path, className)
  img(src='assets/images/' + path, alt='', class=className)

//- form-input
mixin fieldInput(type, id, placeholder, label, required, value)
  .float-container
    input.control(type=type, name=id, id=id, placeholder=label, required=required, value=value)
    - if(label)
      label(for=id)= label
    - if(!required)
      span необязательно


//- form-textarea
mixin fieldTextarea(id, placeholder, label, rows, required)
  .float-container
    textarea.control(name=id, id=id, placeholder=label, rows=rows,  required=required)
    - if(label)
      label(for=id)= label
    - if(!required)
      span необязательно

//- form-checkbox
mixin fieldCheckbox(id, name, checked)
    .checkbox
        input(type="checkbox", id=id, checked=checked)
        label.label(for=id)=name

//- form-radio
mixin fieldRadio(name, id, label, checked)
    .radio
        input(type="radio", id=id, name=name, checked=checked)
        label.label(for=id)=label

mixin products(items, page)
  each item in items
    .products__item
      .products__item-img: img(src=item.img)
      .products__item-title= item.title
      .products__item-price 670 ₽
      .products__item-footer
        a.btn.btn__sm.btn--outlined.popup-modal.popup-with-zoom-anim(href='#card'): span Заказать подарок
        a.popup-modal.popup-with-zoom-anim(href='#product') Что внутри?

mixin productsHidden(items, page)
  each item in items
    .products__item.hideBlock
      .products__item-img: img(src=item.img)
      .products__item-title= item.title
      .products__item-price 670 ₽
      .products__item-footer
        a.btn.btn__sm.btn--outlined.popup-modal.popup-with-zoom-anim(href='#card'): span Заказать подарок
        a.popup-modal.popup-with-zoom-anim(href='#product') Что внутри?
