footer.footer(data-aos="fade-up")
  .container
    a.footer__logo(href='/'): +img('logoBot.svg')
    .footer__copy © 2019 Унция. Все права защищены.
    ul.footer__social
      li: a(href='#'): i.icon-vk
      li: a(href='#'): i.icon-instagram
      li: a(href='#'): i.icon-fb
    a.footer__cloud(href='https://www.cloudmill.ru', target='_blank'): +img('cloudmill.svg')

