header.header
  a.header__logo(href='/')
    +img('logo.svg')
  include ../components/_navbar
  .header__phone.hidden__sm.hidden__xs
    a(href='tel:88005057562') 8 800 505-75-62
  .header__search.search--close: +img('icons/close.svg')
  .header__search.search--js
    a.header__right__but(href='')
      i.icon-search
  .main-nav__toggle.visible__xs.visible__sm
    .main-nav__toggle--js
      span
      span
  .header__btn.hidden__xs.hidden__sm
    a.btn.btn--outlined.popup-modal.popup-with-zoom-anim(href='#call'): span получить предложение
