.searchBar
  .container
    .searchBar__close: +img('icons/close.svg')
    form.searchBar__input(method='POST')
      +fieldInput('text', 'search', '', 'Что вы хотите найти?', true)
      a(href='search.html'): i.icon-search
