//
// Variables

//- Variables -> Base
$base-font-family: "Museo Sans Cyrl 300", Arial;
$base-font-family-serif: "PF Regal Display Pro Bold";
$base-font-size: 16px !default;
$base-font-weight: 300 !default;
$base-line-height: 1.471 !default;
$base-color: $black !default;
$base-background: $white-lighten !default;
$base-padding: 8px;

//- Link
$link-color: $base-color-dark;
$link-hover-color: $base-color-main;
$link-decoration: none;

//- Variables -> Typography
$font-size-large: ceil(($base-font-size * 1.25)) !default; // ~20px
$font-size-medium: ceil(($base-font-size * 1.0625)) !default; // ~17px
$font-size-small: ceil(($base-font-size * 0.875)) !default; // ~14px
$font-size-tiny: ceil(($base-font-size * 0.75)) !default; // ~12px

$font-size-h1: floor(($base-font-size * 4.25)); // ~68px
$font-size-h2: floor(($base-font-size * 4.25)); // ~68px
$font-size-h3: floor(($base-font-size * 2.5)); // ~40px
$font-size-h4: ceil(($base-font-size * 1.375)); // ~20px
$font-size-h5: ceil(($base-font-size * 1.125)); // ~18px
$font-size-h6: ceil(($base-font-size * 0.875)); // ~14px

$line-height-computed: floor(($base-font-size * $base-line-height)); // ~22px
$line-height-computed-half: floor(
  ($base-font-size * $base-line-height) / 2
); // ~11px

$headings-font-family: $base-font-family-serif !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.2 !default;
$headings-color: $black !default;

//- Grid
$screen-sm: 480px;
$screen-sm-min: $screen-sm;
$screen-phone: $screen-sm-min;

$screen-md: 768px;
$screen-md-min: $screen-md;
$screen-tablet: $screen-md-min;

$screen-xmd: 1024px;
$screen-xmd-min: $screen-xmd;
$screen-xtablet: $screen-xmd-min;

$screen-lg: 1240px;
$screen-lg-min: $screen-lg;
$screen-desktop: $screen-lg-min;

$screen-xl: 1500px;
$screen-xl-min: $screen-xl;
$screen-xl-desktop: $screen-xl-min;

$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;
$screen-xmd-max: ($screen-xmd-min - 1) !default;
$screen-lg-max: ($screen-xl-min - 1) !default;

$screen-adaptive-nav: $screen-md-min;

//- Number of columns in the grid system
$grid-columns: 12;
$grid-gutter-width: 30px;
$grid-gutter-width-md: 30px;

//- Small screen / tablet
$container-mobile: (440px + $grid-gutter-width);
$container-sm: $container-mobile;

//- Small screen / tablet
$container-tablet: (720px + $grid-gutter-width);
$container-md: $container-tablet;

//- Small screen / tablet
$container-xtablet: (990px + $grid-gutter-width);
$container-xmd: $container-xtablet;

//- Medium screen / desktop
$container-desktop: (1200px + $grid-gutter-width);
$container-lg: $container-desktop;

//- Large screen / wide desktop
$container-large-desktop: (1240px + $grid-gutter-width);
$container-xl: $container-large-desktop;

//- Btn
$btn-font-weight: 400;

$btn-default-color: black !default;
$btn-default-bg: transparent !default;
$btn-default-border: white !default;

$btn-primary-color: white !default;
$btn-primary-bg: $base-color-main !default;
$btn-primary-border: $base-color-main !default;

$btn-success-color: #fff !default;
$btn-success-bg: $color-type-4a !default;
$btn-success-border: $btn-success-bg !default;

$btn-info-color: #fff !default;
$btn-info-bg: $base-color-main !default;
$btn-info-border: $base-color-main !default;

$btn-warning-color: #fff !default;
$btn-warning-bg: $color-type-3a !default;
$btn-warning-border: $btn-warning-bg !default;

$btn-danger-color: #fff !default;
$btn-danger-bg: $color-type-2b !default;
$btn-danger-border: $btn-danger-bg !default;

$btn-outlined-color: $base-color-dark !default;
$btn-outlined-bg: transparent !default;
$btn-outlined-border: $base-color-main !default;

//- Padding
$padding-base-vertical: 10px;
$padding-base-horizontal: 22px;

$padding-large-vertical: 11px;
$padding-large-horizontal: 16px;

$padding-small-vertical: 7px;
$padding-small-horizontal: 20px;

$padding-tiny-vertical: 5px;
$padding-tiny-horizontal: 8px;

$line-height-large: 1.5;
$line-height-small: 1.3;
$line-height-tiny: 1.2;
$line-height-btn: 1.8333333;

$border-radius-base: 5px;
$border-radius-large: 5px;
$border-radius-small: 5px;

$btn-border-radius-base: 50px;
$btn-border-radius-large: 50px;
$btn-border-radius-small: 50px;

// Type
$blockquote-small-color: $gray-darken-2;
$blockquote-font-size: 18px;
$blockquote-border-color: $gray-darken-1;

//- Breadcrumbs
$breadcrumb-padding-vertical: 8px;
$breadcrumb-padding-horizontal: 15px;
$breadcrumb-bg: transparent;
$breadcrumb-color: #ccc;
$breadcrumb-active-color: $gray-darken-2;
$breadcrumb-separator: "/";

//- Pagination
$pagination-color: $gray-darken-2;
$pagination-bg: #fff;
$pagination-border: #fff;

$pagination-hover-color: #fff;
$pagination-hover-bg: $base-color-main;
$pagination-hover-border: $base-color-main;

$pagination-active-color: #fff;
$pagination-active-bg: $base-color-main;
$pagination-active-border: $base-color-main;

//- Pager
$pager-bg: $pagination-bg;
$pager-border: #cad3df;
$pager-border-radius: 50px;
$pager-hover-bg: $pagination-hover-bg;
$pager-hover-color: $pagination-hover-color;
$pager-active-bg: $pagination-active-bg;
$pager-active-color: $pagination-active-color;

//- Accordion
$accordion-padding-vertical: 8px;
$accordion-padding-horizontal: 15px;
$accordion-margin-top: 15px;
$accordion-bg: transparent;
$accordion-color: #333;
$accordion-active-color: $gray-darken-2;

//- Tables
$table-cell-padding: 20px 20px 10px;
$table-condensed-cell-padding: 5px;

$table-bg: transparent;
$table-bg-accent: #F5F5F5;

$table-bg-hover: #f5f5f5;
$table-bg-active: $table-bg-hover;

$table-border-color: $gray;

//- Navbar
$navbar-height: 50px;
$navbar-margin-bottom: $line-height-computed;
$navbar-border-radius: $border-radius-base;
$navbar-padding-horizontal: floor(($grid-gutter-width / 2));
$navbar-padding-vertical: (($navbar-height - $line-height-computed) / 2);
$navbar-collapse-max-height: 340px;

$navbar-default-color: #777;
$navbar-default-bg: #f8f8f8;
$navbar-default-border: darken($navbar-default-bg, 6.5%);

//- Navbar toggle
$navbar-default-toggle-hover-bg: #ddd;
$navbar-default-toggle-icon-bar-bg: #888;
$navbar-default-toggle-border-color: #ddd;

//- Navbar links
$navbar-default-link-color: #777;
$navbar-default-link-hover-color: #333;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-color: #555;
$navbar-default-link-active-bg: darken($navbar-default-bg, 6.5%);
$navbar-default-link-disabled-color: #ccc;
$navbar-default-link-disabled-bg: transparent;

//- Navs
$nav-link-padding: 7px 15px;
$nav-link-hover-bg: $color-type-3a;
$subnav-link-hover-bg: $color-type-3b;

$nav-tabs-active-link-hover-bg: $base-background;
$nav-tabs-active-link-hover-color: $gray;
$nav-tabs-active-link-hover-border-color: #ddd;

$nav-tabs-justified-link-border-color: #ddd;
$nav-tabs-justified-active-link-border-color: $base-background;

$close-font-weight: bold !default;
$close-color: #000 !default;
$close-text-shadow: none !default;

//- Form states and table
$input-bg: #fff !default;
$input-bg-disabled: $gray-darken-1 !default;

$input-color: $black !default;
$input-border: #cad3df !default;

$input-border-radius: $border-radius-base !default;
$input-border-radius-large: $border-radius-large !default;
$input-border-radius-small: $border-radius-small !default;

$input-border-focus: #0082d5 !default;
$input-color-placeholder: $black !default;

$input-height-base: (
  $line-height-computed + ($padding-base-vertical * 2) + 2
) !default;
$input-height-large: (
  ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) +
    2
) !default;
$input-height-small: (
  floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) +
    2
) !default;

$input-group-addon-bg: $gray-darken-1 !default;
$input-group-addon-border-color: $input-border !default;

$state-primary-text: $base-color-main !default;
$state-primary-bg: $base-color-main !default;
$state-primary-border: darken(adjust-hue($state-primary-bg, -10), 5%) !default;

$state-success-text: $color-type-4a !default;
$state-success-bg: $color-type-4a !default;
$state-success-border: darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text: $color-type-1a !default;
$state-info-bg: $color-type-1a !default;
$state-info-border: darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text: $color-type-3a !default;
$state-warning-bg: $color-type-3a !default;
$state-warning-border: darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text: $color-type-2a !default;
$state-danger-bg: $color-type-2a !default;
$state-danger-border: darken(adjust-hue($state-danger-bg, -10), 5%) !default;

$form-group-margin-bottom: 40px !default;

$legend-color: $black !default;
$legend-border-color: #e5e5e5 !default;

//** Disabled cursor for form controls and buttons.
$cursor-disabled: not-allowed;

//-- Z-index master list
$zindex-navbar: 1000;
$zindex-navbar-fixed: 1030;
$zindex-modal-background: 1040;
$zindex-modal: 1050;

// Variables -> Components

// Navbar

// Variables -> Partials

// Header

// Variables -> Pages

// Home
