//
// Color type-1
// --------------------------------------------------

//brand-colors
$base-color-lighten-1: #e6f2f2;
$base-color-lighten-1-dark: darken($base-color-lighten-1, 10%);

$base-color-lighten: #EEE4D7;
$base-color-light: #F7F3EF;
$base-color-main: #D4AF81;
$base-color-dark: #543018;
$base-color-darken: #03103f;

//brand-info
$color-type-1a: #0082d5;
$color-type-1b: #297ca6;
$color-type-1c: #1e61a6;

//brand-danger
$color-type-2a: #eb5757;
$color-type-2b: #d93636;
$color-type-2c: #e52222;

//brand-warning
$color-type-3a: #ffaa00;
$color-type-3b: #ff9500;
$color-type-3c: #ff7f00;

//brand-success
$color-type-4a: #2db386;
$color-type-4b: #53a661;
$color-type-4c: #269973;

//brand-info
$color-type-6a: #41b5cc;
$color-type-6b: #cad3df;

//black&white
$white-lighten: #fff;
$white: #fafafa;
$white-darken: #C4C4C4;

$gray-lighten: #E8E8E8;
$gray: #dcdcdc;
$gray-darken: #898989;
$gray-darken-1: #A7A7A7;
$gray-darken-2: #6F6F6F;

$black: #1D1D1D;
$black-darken: #000;
