@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i&display=swap&subset=cyrillic");

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?3ugart');
  src:  url('../fonts/icomoon.eot?3ugart#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?3ugart') format('truetype'),
  url('../fonts/icomoon.woff?3ugart') format('woff'),
  url('../fonts/icomoon.svg?3ugart#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Museo Sans Cyrl 500';
  src: url('../fonts/subset-MuseoSansCyrl-500.eot');
  src: url('../fonts/subset-MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-MuseoSansCyrl-500.woff2') format('woff2'),
  url('../fonts/subset-MuseoSansCyrl-500.woff') format('woff'),
  url('../fonts/subset-MuseoSansCyrl-500.ttf') format('truetype'),
  url('../fonts/subset-MuseoSansCyrl-500.svg#MuseoSansCyrl-500') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 300';
  src: url('../fonts/subset-MuseoSansCyrl-300.eot');
  src: url('../fonts/subset-MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-MuseoSansCyrl-300.woff2') format('woff2'),
  url('../fonts/subset-MuseoSansCyrl-300.woff') format('woff'),
  url('../fonts/subset-MuseoSansCyrl-300.ttf') format('truetype'),
  url('../fonts/subset-MuseoSansCyrl-300.svg#MuseoSansCyrl-300') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 700';
  src: url('../fonts/subset-MuseoSansCyrl-700.eot');
  src: url('../fonts/subset-MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
  url('../fonts/subset-MuseoSansCyrl-700.woff2') format('woff2'),
  url('../fonts/subset-MuseoSansCyrl-700.woff') format('woff'),
  url('../fonts/subset-MuseoSansCyrl-700.ttf') format('truetype'),
  url('../fonts/subset-MuseoSansCyrl-700.svg#MuseoSansCyrl-700') format('svg');
  font-weight: 600;
  font-style: normal;
}




// PF Regal Display Pro
@font-face {
  font-family: 'PF Regal Display Pro Bold';
  src: url('../fonts/PFRegalDisplayPro-Bold.woff2') format('woff2'),
  url('../fonts/PFRegalDisplayPro-Bold.woff') format('woff'),
  url('../fonts/PFRegalDisplayPro-Bold.ttf') format('truetype'),
  url('../fonts/PFRegalDisplayPro-Bold.svg#PFRegalDisplayPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PF Regal Display Pro Medium';
  src: url('../fonts/PFRegalDisplayPro-Medium.woff2') format('woff2'),
  url('../fonts/PFRegalDisplayPro-Medium.woff') format('woff'),
  url('../fonts/PFRegalDisplayPro-Medium.ttf') format('truetype'),
  url('../fonts/PFRegalDisplayPro-Medium.svg#PFRegalDisplayPro-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
// PF Regal Display Pro


//*
// Which objects and abstractions would you like to use?
//base
$use-btn-color: true !default;
$use-btn-size: true !default;
$use-btn-group: false !default;
$use-input-group: false !default;
$use-table: true !default;
$use-color-table: false !default;
$use-column-table: false !default;
$use-color-text: true !default;

//modules
$use-accordion: false !default;
$use-breadcrumb: false !default;
$use-pagination: true !default;
$use-pager: true !default;
$use-space: true !default;
$use-split: false !default;
$use-rules: false !default;
$use-this-or-this: false !default;
$use-media: true !default;
// grids
$use-adaptive: true !default;
$use-flexbox: true !default;
$use-bem: false !default;
// plugins
$use-animations: false !default;
$debug-mode: false !default;

@import "_sprites";

// Color scheme
@import "themes/_scheme-default";

// Mixins
@import "helpers/*.scss";

// Plugins
@import "vendors/*.scss";

// Base
@import "base/*.scss";

// Modules
@import "modules/*.scss";

// Partials
@import "partials/*.scss";

// Pages
@import "pages/*.scss";

@import "~slick-carousel/slick/slick.css";
@import "~select2/dist/css/select2.css";
@import "~magnific-popup/src/css/main.scss";
@import "~nouislider/distribute/nouislider.css";
@import "~aos/dist/aos.css";


@media screen and (min-width: $screen-md-min) {
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    width: 7px;
  }
  html::-webkit-scrollbar-thumb,
  body::-webkit-scrollbar-thumb {
    background: $base-color-main;
  }
  html::-webkit-scrollbar-track:vertical,
  body::-webkit-scrollbar-track:vertical {
    background: white;
    border-left: 1px solid #e3e3e3;
  }
  html *,
  body * {
    scrollbar-color: $base-color-main white;
    scrollbar-width: thin;
    scrollbar-base-color: white;
    scrollbar-face-color: $base-color-main;
    scrollbar-3dlight-color: white;
    scrollbar-highlight-color: white;
    scrollbar-track-color: white;
    scrollbar-arrow-color: white;
    scrollbar-shadow-color: $base-color-main;
    scrollbar-width: 7px;
  }
  html *::-webkit-scrollbar,
  body *::-webkit-scrollbar {
    width: 7px;
  }
  html *::-webkit-scrollbar-thumb,
  body *::-webkit-scrollbar-thumb {
    background: $base-color-main;
  }
  html *::-webkit-scrollbar-track:vertical,
  body *::-webkit-scrollbar-track:vertical {
    background: white;
    border-left: 1px solid #e3e3e3;
  }
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  scroll-behavior: smooth;
}
