//- Custom Configuration
block config
  - var adaptive = true // choose website type

//- Master layout
include ../mixins/_mixins.pug

doctype
html
  head
    meta(charset="UTF-8")

    block title
      title Унция
    <!--[if IE]>
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    <![endif]-->

    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="canonical" href="/")
    meta(name="format-detection", content="telephone=no")
    meta(name="format-detection", content="address=no")

    // OG
    meta(property='og:image' content="assets/images/og.jpg")

    //- Basic Seo
    block basicSeo
      meta(name='description' content='Index page')
      meta(name='keywords', content='index, page')
      meta(name='author' content='')

    //- Twitter
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='')
    meta(name='twitter:image', content='')
    meta(name='twitter:description', content='')

    //- Facebook
    meta(property='og:url', content='')
    meta(property='og:title', content='')
    meta(property='og:description', content='')
    meta(property='og:image', content='')
    meta(property='og:type', content='website')

    // iOS
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="apple-mobile-web-app-title", content="")

    // Android
    meta(name="mobile-web-app-capable", content="yes")
    meta(name="theme-color", content="black")

    // Windows
    meta(name="msapplication-TileColor", content="black")

    link(rel="shortcut icon", href="favicon.ico")

    //- Title
    block title
      title FKL

    block pageName
      - var pageName = "main"

  body(class='body'+pageName)
    <!--[if lt IE 9]>
    p.browsehappy
      | Данный сайт построен на передовых, современных технологиях и не поддерживает Ваш браузер. Настоятельно рекомендуем выбрать и установить любой из &nbsp;
      a(href="http://browsehappy.com/", target="_blank") современных браузеров.
      |  Это бесплатно и займет всего несколько минут.
    <![endif]-->
    .wrapper

      //- Header
      include ../partials/_loader
      include ../components/_popups
      include ../partials/_search
      block header

      //- block content
      main(class='page ' + pageName)
        block content

      //- Footer
      block footer

