nav.navbar.col__xl-6.col__lg-5
  .main-nav__collapse
    +menu(menu)
    .visible__sm.visible__xs
      .header__phone
        a(href='tel:88005057562') 8 800 505-75-62
      .header__btn
        a.btn.btn--outlined.btn--sm.popup-modal.popup-with-zoom-anim(href='#call'): span получить предложение
