#call.mfp-hide.popup-block.popup-block--sm.zoom-anim-dialog
  .close-popup.popup-modal-dismiss
  .activeForm
    h4 Свяжемся в течении 5 минут
    p Работаем с понедельника по пятницу с 9:00 до 18:45
    form(action='', method='POST')
      .form__group: +fieldInput('text', 'name2', '', 'Ваше имя', false)
      .form__group: +fieldInput('text', 'email2', '', 'Почта', false)
      .form__group
        .float-container
          input.control(type='text', name='phone', id='phone6', placeholder='Ваш телефон', required)
          label(for='phone6') Ваш телефон
      button.btn.btn--outlined.form__group.btn--full.sent--js(type='submit'): span Оставить заявку на образец
      +fieldCheckbox('sign1', '#[span Согласен на обработку персональных данных в соответствии с #[a(href) политикой конфиденциальности]]', false)
  .sentForm
    h4 Спасибо за заявку!
    br
    p Наш менеджер свяжется с вами в течение часа, #[br] если заявка оставлена в рабочее время. Мы работаем #[br] с понедельника по пятницу с 9:00 до 18:45.
    p Или в ближайший будний день, если заявка оставлена #[br] в выходные.

#card.mfp-hide.popup-block.popup-block--sm.zoom-anim-dialog
  .close-popup.popup-modal-dismiss
  h4 Рассчитать срок #[br] и оставить заявку на заказ
  form(action='', method='POST')
    .kit
      .kit__item
        p.text--grey.text__sm Подарочный набор
        h5 Внимательность
      .kit__item
        p.text__lg 670 ₽
    .row
      .col.col__md-6.col__xs-12.form__group
        p Мой бюджет
        input.controlMain(type='text', value='10 000 ₽')
      .col.col__md-6.col__xs-12.form__group
        p Мне нужно подарков
        .input__body
          .input__quantity.input__quantity-js
            .inc: +img('icons/minus.svg')
            input.input__number-js(type='text', value='40 шт.', data-th='шт.')
            .dec: +img('icons/plus.svg')
    .radio.radio--custom
      .radio--custom-el
        input(type='radio', name='logos1', id='logo11', checked)
        label(for='logo11') без логотипа
      .radio--custom-el
        input(type='radio', name='logos1', id='logo22')
        label(for='logo22') с логотипом
    br
    p.text__sm Минимальный бюджет 10 000 ₽
    .summ
      .summ__item
        p Итого без скидки, ₽
        .summCount 54 450
      .summ__item
        p Итого со скидкой, ₽
        .summCountMain 47 916
      .summ__item.tooltipMain
        p Скидка #[a.text__sm.tooltip.tooltip--js(href='#') От чего зависит?]
        .tooltipBody
          .summ__item
            p 10 0000 ₽ – 50 0000 ₽
            .summCount 10%
          .summ__item
            p 50 0000 ₽ – 100 0000 ₽
            .summCount 12%
          .summ__item
            p 100 0000 ₽ – 250 0000 ₽
            .summCount 15%
          .summ__item
            p 250 0000 ₽ и более
            .summCount 25%
        .summCount 12%
      .summ__item
        p Сумма скидки, ₽
        .summCount 6 534
      .summ__item
        p Срок сборки, рабочих дней
        .summCount 2
    .form__group: +fieldInput('text', 'name3', '', 'Ваше имя', false)
    .form__group: +fieldInput('text', 'email3', '', 'Почта', false)
    .form__group
      .float-container
        input.control(type='text', name='phone', id='phone5', placeholder='Ваш телефон', required)
        label(for='phone5') Ваш телефон
    button.btn.btn--outlined.form__group.btn--full(type='submit'): span Оставить заявку на образец
    +fieldCheckbox('sign2', '#[span Согласен на обработку персональных данных в соответствии с #[a(href) политикой конфиденциальности]]', false)

#product.mfp-hide.popup-block.zoom-anim-dialog
  .close-popup.popup-modal-dismiss
  .card
    .card__left
      .slick-prev.slick-prev--ca: +img('icons/left-arrow.svg')
      .slick-next.slick-next--ca: +img('icons/right-arrow.svg')
      .slider-for
        - for (let x = 1; x < 5; x++)
          div: +img('card/cardPopup.jpg')
      .slider-navi
        .slider-navi__item: +img('card/card1.jpg')
        .slider-navi__item: +img('card/card2.jpg')
        .slider-navi__item: +img('card/card3.jpg')
        .slider-navi__item: +img('card/card4.jpg')
    .card__right
      div
        p.text--grey Подарочный набор
        h3 Внимательность
        .card-price 670 ₽
      h4 Состав набора
      ul.list--bullet
        li Конфеты шоколадные ассорти, Италия / 6 унций
        li Прозрачный пакет с золотым донышком
        li 1 сорт чая / 1 унция в емкости
        li Тростниковый сахар / 100 гр.
        li Коробка «Классика»
      a.btn.btn--primary(href='#'): span Оставить заявку на образец
      a(href='card.html')
        | Перейти к карточке подарка
        +img('icons/next.svg')

#keys.mfp-hide.popup-block.zoom-anim-dialog
  .close-popup.popup-modal-dismiss
  .card
    .card__left
      .slick-prev.slick-prev--ca: +img('icons/left-arrow-wh.svg')
      .slick-next.slick-next--ca: +img('icons/right-arrow-wh.svg')
      .slider-for
        - for (let x = 1; x < 5; x++)
          div: +img('card/keysPopup.jpg')
      .slider-navi
        .slider-navi__item: +img('card/card1.jpg')
        .slider-navi__item: +img('card/card2.jpg')
        .slider-navi__item: +img('card/card3.jpg')
        .slider-navi__item: +img('card/card4.jpg')
    .card__right
      +img('card/logo.jpg')
      h4 Собрали для ВТБ партию корпоративных подарок на 8-ое марта
      .row
        .col.col__md-4.col__xs-6
          p Срок сборки
          h4 8 дней
        .col.col__md-8.col__xs-6
          p Объем партии
          h4 58 подарков
      a.linkDots(href='#', data-slide='4') Благодарственное письмо
      a.btn.btn--primary(href='#'): span Оставить заявку на подбор подарка
